.bg-fixed	{ background-attachment: fixed; }
.bg-local	{ background-attachment: local; }
.bg-scroll	{ background-attachment: scroll; }

.bg-bottom			{ background-position: bottom; }
.bg-center			{ background-position: center; }
.bg-left			{ background-position: left; }
.bg-left-bottom		{ background-position: left bottom; }
.bg-left-top		{ background-position: left top; }
.bg-right			{ background-position: right; }
.bg-right-bottom	{ background-position: right bottom; }
.bg-right-top		{ background-position: right top; }
.bg-top				{ background-position: top; }

.bg-repeat		{ background-repeat: repeat; }
.bg-no-repeat	{ background-repeat: no-repeat; }

.bg-100percent	{ background-size: 100%; }
.bg-auto		{ background-size: auto; }
.bg-cover		{ background-size: cover; }
.bg-contain		{ background-size: contain; }

.bg-transparent	{ background-color: transparent; }
.bg-brand-1		{ background-color: $brand-1; }
.bg-brand-2		{ background-color: $brand-2; }
.bg-brand-3		{ background-color: $brand-3; }
.bg-brand-4		{ background-color: $brand-4; }
.bg-brand-5 	{ background-color: $brand-5; }
.bg-black		{ background-color: $black; }
.bg-white		{ background-color: $white; }
.bg-gray-100	{ background-color: $gray-100; }
.bg-gray-200	{ background-color: $gray-200; }
.bg-gray-300	{ background-color: $gray-300; }
.bg-gray-400	{ background-color: $gray-400; }
.bg-gray-500	{ background-color: $gray-500; }
.bg-gray-600	{ background-color: $gray-600; }
.bg-gray-700	{ background-color: $gray-700; }
.bg-gray-800	{ background-color: $gray-800; }
.bg-gray-900	{ background-color: $gray-900; }

.bg-overlay					{ background-color: $bg-overlay; }
.hover\:bg-overlay:hover	{ background-color: $bg-overlay-hover; }

.hover\:bg-transparent:hover	{ background-color: transparent; }
.hover\:bg-brand-1:hover		{ background-color: $brand-1; }
.hover\:bg-brand-2:hover		{ background-color: $brand-2; }
.hover\:bg-black:hover			{ background-color: $black; }
.hover\:bg-white:hover			{ background-color: $white; }
.hover\:bg-gray-100:hover		{ background-color: $gray-100; }
.hover\:bg-gray-200:hover		{ background-color: $gray-200; }
.hover\:bg-gray-300:hover		{ background-color: $gray-300; }
.hover\:bg-gray-400:hover		{ background-color: $gray-400; }
.hover\:bg-gray-500:hover		{ background-color: $gray-500; }
.hover\:bg-gray-600:hover		{ background-color: $gray-600; }
.hover\:bg-gray-700:hover		{ background-color: $gray-700; }
.hover\:bg-gray-800:hover		{ background-color: $gray-800; }
.hover\:bg-gray-900:hover		{ background-color: $gray-900; }
.focus\:bg-transparent:focus	{ background-color: transparent; }
.focus\:bg-black:focus			{ background-color: $black; }
.focus\:bg-white:focus			{ background-color: $white; }
.focus\:bg-gray-100:focus		{ background-color: $gray-100; }
.focus\:bg-gray-200:focus		{ background-color: $gray-200; }
.focus\:bg-gray-300:focus		{ background-color: $gray-300; }
.focus\:bg-gray-400:focus		{ background-color: $gray-400; }
.focus\:bg-gray-500:focus		{ background-color: $gray-500; }
.focus\:bg-gray-600:focus		{ background-color: $gray-600; }
.focus\:bg-gray-700:focus		{ background-color: $gray-700; }
.focus\:bg-gray-800:focus		{ background-color: $gray-800; }
.focus\:bg-gray-900:focus		{ background-color: $gray-900; }

@media (min-width: 640px) {
	.sm\:bg-fixed			{ background-attachment: fixed; }
	.sm\:bg-local			{ background-attachment: local; }
	.sm\:bg-scroll			{ background-attachment: scroll; }
	.sm\:bg-bottom			{ background-position: bottom; }
	.sm\:bg-center			{ background-position: center; }
	.sm\:bg-left			{ background-position: left; }
	.sm\:bg-left-bottom		{ background-position: left bottom; }
	.sm\:bg-left-top		{ background-position: left top; }
	.sm\:bg-right			{ background-position: right; }
	.sm\:bg-right-bottom	{ background-position: right bottom; }
	.sm\:bg-right-top		{ background-position: right top; }
	.sm\:bg-top				{ background-position: top; }
	.sm\:bg-repeat			{ background-repeat: repeat; }
	.sm\:bg-no-repeat		{ background-repeat: no-repeat; }
	.sm\:bg-auto			{ background-size: auto; }
	.sm\:bg-cover			{ background-size: cover; }
	.sm\:bg-contain			{ background-size: contain; }
}
@media (min-width: 768px) {
	.md\:bg-fixed			{ background-attachment: fixed; }
	.md\:bg-local			{ background-attachment: local; }
	.md\:bg-scroll			{ background-attachment: scroll; }
	.md\:bg-bottom			{ background-position: bottom; }
	.md\:bg-center			{ background-position: center; }
	.md\:bg-left			{ background-position: left; }
	.md\:bg-left-bottom		{ background-position: left bottom; }
	.md\:bg-left-top		{ background-position: left top; }
	.md\:bg-right			{ background-position: right; }
	.md\:bg-right-bottom	{ background-position: right bottom; }
	.md\:bg-right-top		{ background-position: right top; }
	.md\:bg-top				{ background-position: top; }
	.md\:bg-repeat			{ background-repeat: repeat; }
	.md\:bg-no-repeat		{ background-repeat: no-repeat; }
	.md\:bg-auto			{ background-size: auto; }
	.md\:bg-cover			{ background-size: cover; }
	.md\:bg-contain			{ background-size: contain; }
}
@media (min-width: 1024px) {
	.lg\:bg-fixed			{ background-attachment: fixed; }
	.lg\:bg-local			{ background-attachment: local; }
	.lg\:bg-scroll			{ background-attachment: scroll; }
	.lg\:bg-bottom			{ background-position: bottom; }
	.lg\:bg-center			{ background-position: center; }
	.lg\:bg-left			{ background-position: left; }
	.lg\:bg-left-bottom		{ background-position: left bottom; }
	.lg\:bg-left-top		{ background-position: left top; }
	.lg\:bg-right			{ background-position: right; }
	.lg\:bg-right-bottom	{ background-position: right bottom; }
	.lg\:bg-right-top		{ background-position: right top; }
	.lg\:bg-top				{ background-position: top; }
	.lg\:bg-repeat			{ background-repeat: repeat; }
	.lg\:bg-no-repeat		{ background-repeat: no-repeat; }
	.lg\:bg-auto			{ background-size: auto; }
	.lg\:bg-cover			{ background-size: cover; }
	.lg\:bg-contain			{ background-size: contain; }
}
@media (min-width: 1280px) {
	.xl\:bg-fixed			{ background-attachment: fixed; }
	.xl\:bg-local			{ background-attachment: local; }
	.xl\:bg-scroll			{ background-attachment: scroll; }
	.xl\:bg-bottom			{ background-position: bottom; }
	.xl\:bg-center			{ background-position: center; }
	.xl\:bg-left			{ background-position: left; }
	.xl\:bg-left-bottom		{ background-position: left bottom; }
	.xl\:bg-left-top		{ background-position: left top; }
	.xl\:bg-right			{ background-position: right; }
	.xl\:bg-right-bottom	{ background-position: right bottom; }
	.xl\:bg-right-top		{ background-position: right top; }
	.xl\:bg-top				{ background-position: top; }
	.xl\:bg-repeat			{ background-repeat: repeat; }
	.xl\:bg-no-repeat		{ background-repeat: no-repeat; }
	.xl\:bg-auto			{ background-size: auto; }
	.xl\:bg-cover			{ background-size: cover; }
	.xl\:bg-contain			{ background-size: contain; }
}