.border-solid	{ border-style: solid; }
.border-dashed	{ border-style: dashed; }
.border-dotted	{ border-style: dotted; }
.border-none	{ border-style: none; }

.border-0	{ border-width: 0; }
.border		{ border-width: 1px; }
.border-2	{ border-width: 2px; }
.border-3	{ border-width: 3px; }
.border-4	{ border-width: 4px; }
.border-8	{ border-width: 8px; }

.border-transparent	{ border-color: transparent; }
.border-brand-1		{ border-color: $brand-1; }
.border-brand-2		{ border-color: $brand-2; }
.border-brand-3		{ border-color: $brand-3; }
.border-brand-4		{ border-color: $brand-4; }
.border-brand-5		{ border-color: $brand-5; }
.border-black		{ border-color: $black; }
.border-white		{ border-color: $white; }
.border-gray-100	{ border-color: $gray-100; }
.border-gray-200	{ border-color: $gray-200; }
.border-gray-300	{ border-color: $gray-300; }
.border-gray-400	{ border-color: $gray-400; }
.border-gray-500	{ border-color: $gray-500; }
.border-gray-600	{ border-color: $gray-600; }
.border-gray-700	{ border-color: $gray-700; }
.border-gray-800	{ border-color: $gray-800; }
.border-gray-900	{ border-color: $gray-900; }

.hover\:border-transparent:hover	{ border-color: transparent; }
.hover\:border-brand-1:hover		{ border-color: $brand-1; }
.hover\:border-brand-2:hover		{ border-color: $brand-2; }
.hover\:border-brand-3:hover		{ border-color: $brand-3; }
.hover\:border-brand-4:hover		{ border-color: $brand-4; }
.hover\:border-brand-5:hover		{ border-color: $brand-5; }
.hover\:border-black:hover			{ border-color: $black; }
.hover\:border-white:hover 			{ border-color: $white; }
.hover\:border-gray-100:hover 		{ border-color: $gray-100; }
.hover\:border-gray-200:hover		{ border-color: $gray-200; }
.hover\:border-gray-300:hover		{ border-color: $gray-300; }
.hover\:border-gray-400:hover		{ border-color: $gray-400; }
.hover\:border-gray-500:hover		{ border-color: $gray-500; }
.hover\:border-gray-600:hover		{ border-color: $gray-600; }
.hover\:border-gray-700:hover		{ border-color: $gray-700; }
.hover\:border-gray-800:hover		{ border-color: $gray-800; }
.hover\:border-gray-900:hover		{ border-color: $gray-900; }

.rounded-none	{ border-radius: 0; }
.rounded-sm		{ border-radius: 0.125rem; }
.rounded		{ border-radius: 0.25rem; }
.rounded-lg		{ border-radius: 0.5rem; }
.rounded-full	{ border-radius: 9999px; }