/* # WordPress */
table#wp-calendar { width: 100%; text-align: center; }
table#wp-calendar th { text-align: center; padding-bottom: 10px; }
table#wp-calendar td { padding: 5px 0; }
table#wp-calendar thead tr { border-bottom: 2px solid #9b9b9b; }
table#wp-calendar tbody tr { border-bottom: 1px solid #e3e3e3; }
table#wp-calendar caption { text-align: center; }
.comment-form-comment label { display: none; }
.gallery:after { content:"";display:table;clear:both; }
img.aligncenter, div.aligncenter, figure.aligncenter, img.wp-post-image { display:block; margin:1em auto; }
img.alignright, div.alignright, figure.alignright { float:right; margin:1em 0 1em 2em; }
img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb { float:left; margin:1em 1em 2em 0; }
figure { max-width: 100%; height: auto; margin:1em 0; }
p img.alignright, p img.alignleft { margin-top:0; }
@media (max-width:767px) { img.alignright, div.alignright, figure.alignright, img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb { display:block; margin:1em auto; float:none; } .gallery.gallery-columns-4 figure, .gallery.gallery-columns-5 figure, .gallery.gallery-columns-6 figure, .gallery.gallery-columns-7 figure, .gallery.gallery-columns-8 figure, .gallery.gallery-columns-9 figure { width:100%; margin:0 0 1em 0; float:none; } }
/* # Typography */
body, button, input, select, optgroup, textarea { color: $gray-900; font-family: $font-sans; font-size: 16px; font-size: 1rem; line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { clear: both; margin: 0.5em 0; }
p { margin: .5em 0; }
dfn, cite, em, i { font-style: italic; }
blockquote { margin: 0.5em 1.5em; }
address { margin: 0.5em 1.5em; }
pre { background: #eee; font-family: "Courier 10 Pitch", Courier, monospace; font-size: 15px; font-size: 0.9375rem; line-height: 1.6; margin-bottom: 1.5em; max-width: 100%; overflow: auto; padding: 1.6em; }
code, kbd, tt, var { font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; font-size: 15px; font-size: 0.9375rem; }
abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }
mark, ins { background: #fff9c0; text-decoration: none; }
big { font-size: 125%; }
/* # Primary Elements */
html	{ box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body	{ background: #fff; }
hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }
ul, ol { margin: 0 0 1.5em; }
ul { list-style: disc; }
ol { list-style: decimal; }
li > ul, li > ol { margin-bottom: 1em; margin-left: 2em; }
dt { font-weight: bold; }
dd { margin: 0 1.5em 1.5em; }
img { height: auto; max-width: 100%; }
figure { margin: 1em 0; }
table { margin: 0 0 1.5em; width: 100%; }
/* # Forms */
button, input[type="button"], input[type="reset"], input[type="submit"] { border: 1px solid; border-color: $gray-700; border-radius: 3px; background: $gray-700; color: $white; display: inline-block; font-size: 16px; font-size: 1rem; line-height: 1; padding: .4em 1em .4em; }
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { border-color: $brand-1; }
button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:focus { border-color: $brand-1; }
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { color: #666; border: 1px solid #ccc; border-radius: 3px; padding: 3px; }
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: $black; }
select { border: 1px solid $gray-300; }
textarea { width: 100%; }
/* # Navigation */
/* ## Links */
a { color: inherit; text-decoration: none; }
a:hover, a:focus, a:active { color: inherit; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
/* ## Menu - Desktop */
.main-navigation { clear: both; display: block; float: left; width: 100%; }
.main-navigation ul { display: none; list-style: none; padding-left: 0; }
.main-navigation ul ul { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); float: left; position: absolute; top: 100%; left: -999em; z-index: 99999; }
.main-navigation ul ul ul { left: -999em; top: 0; }
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul { left: 100%; }
.main-navigation ul ul a { width: 200px; }
.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul { left: auto; }
.main-navigation li { float: left; position: relative; }
.main-navigation a { color: $brand-1; display: block; font-family: $font-sans; font-weight: 300; letter-spacing: 0.1px; margin: 0; padding: 1rem 1rem; text-decoration: none; text-transform: uppercase; }
.main-navigation a:hover, .main-navigation a:active, .main-navigation a:focus { color: $brand-1; background-color: rgba(255,255,255,0.5); }
@media screen and (min-width: 1024px) { .menu-toggle { display: none; } .main-navigation ul { display: block; } }
/* ## Menu - Mobile */
.menu-toggle, .main-navigation.toggled ul { display: block; }
@media screen and (max-width: 1023px) { .main-navigation li { float: none; width: 100%; } .main-navigation.toggled ul.sub-menu { display: none; } }
/* ## Comment Navigation and Post Navigation */
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation { margin: 1.5em 0; overflow: hidden; }
.posts-navigation { font-size: 16px; width: 100%; }
.posts-navigation a { background-color: $brand-1; color: $white; display: inline-block; padding: 0.5rem 0.75rem; transition: all ease-in-out 0.3s 0.075s; }
.posts-navigation a:hover { background-color: $brand-2; transition: all ease-in-out 0.3s 0.075s; }
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: right; text-align: right; width: 50%; }
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: leftt; width: 50%; }
/* # Accessibility */
.screen-reader-text { border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; clip-path: none; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }
#content[tabindex="-1"]:focus { outline: 0; }
/* # Alignments */
.alignleft { float: left; margin-right: 1.5em; }
.alignright { float: right; margin-left: 1.5em; }
.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
/* # Clearings */
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }
/* # Widgets */
.widget { margin: 0 0 1.5em; }
.widget select { max-width: 100%; }
.widget .widget-title { color: $brand-1; font-size: 1rem; margin-bottom: 0; text-transform: uppercase; }
.widget ul { list-style-type: none; padding-left: 0; }
.widget ul li { font-size: 0.75rem; margin-bottom: 6px; margin-top: 6px; }
.widget.widget_recent_entries ul li { color: $brand-1; font-weight: 600; letter-spacing: 2px; margin-top: 12px; margin-bottom: 12px; text-transform: uppercase; }
.widget.widget_recent_entries ul li a:hover { color: $gray-700; }
/* # Content */
/* ## Posts and Pages */
.sticky { display: block; }
.post, .page { margin: 0; }
.updated:not(.published) { display: none; }
.page-content, .entry-content, .entry-summary { margin: 0; }
.page-links { clear: both; margin: 0 0 1.5em; }
/* ## Comments */
.comment-content a { word-wrap: break-word; }
.bypostauthor { display: block; }
/* ## Infinite scroll */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer { display: none; }
.infinity-end.neverending .site-footer { display: block; }
/* ## Media */
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }
embed, iframe, object { max-width: 100%; }
.custom-logo-link { display: inline-block; height: 80px; width: 118px; }
/* ## Captions */
.wp-caption { max-width: 96%; padding: 4px 4px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 100%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 12px; line-height: 1.5; margin: 0; padding: 4px 4px 5px; }
/* ## Galleries */
.gallery { margin-bottom: 1.5em; }
.gallery figure img { max-width:100%; height:auto; margin:0 auto; display:block; }
.gallery figure { float:left; margin:0 2% 1em 0; }
.gallery.gallery-columns-1 figure { width:100%; margin:0 0 1em 0; float:none; }
.gallery.gallery-columns-3 figure { width:32%; }
.gallery.gallery-columns-3 figure:nth-of-type(3n+3) { margin-right:0; }
.gallery.gallery-columns-3 figure:nth-of-type(3n+4) { clear:left; }
.gallery.gallery-columns-2 figure { width:49%; }
.gallery.gallery-columns-2 figure:nth-of-type(even) { margin-right:0; }
.gallery.gallery-columns-2 figure:nth-of-type(odd) { clear:left; }
.gallery.gallery-columns-4 figure { width:23.25%; }
.gallery.gallery-columns-4 figure:nth-of-type(4n+4) { margin-right:0; }
.gallery.gallery-columns-4 figure:nth-of-type(4n+5) { clear:left; }
.gallery.gallery-columns-5 figure { width:18%; }
.gallery.gallery-columns-5 figure:nth-of-type(5n+5) { margin-right:0; }
.gallery.gallery-columns-5 figure:nth-of-type(5n+6) { clear:left; }
.gallery.gallery-columns-6 figure { width:14.2%; }
.gallery.gallery-columns-6 figure:nth-of-type(6n+6) { margin-right:0; }
.gallery.gallery-columns-6 figure:nth-of-type(6n+7) { clear:left; }
.gallery.gallery-columns-7 figure { width:12%; }
.gallery.gallery-columns-7 figure:nth-of-type(7n+7) { margin-right:0; }
.gallery.gallery-columns-7 figure:nth-of-type(7n+8) { clear:left; }
.gallery.gallery-columns-8 figure { width:10.2%; }
.gallery.gallery-columns-8 figure:nth-of-type(8n+8) { margin-right:0; }
.gallery.gallery-columns-8 figure:nth-of-type(8n+9) { clear:left; }
.gallery.gallery-columns-9 figure { width:8.85%; }
.gallery.gallery-columns-9 figure:nth-of-type(9n+9) { margin-right:0; }
.gallery.gallery-columns-9 figure:nth-of-type(9n+10) { clear:left; }
/* ## Galleries v2 */
.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }
.gallery-caption { display: block; }