.block			{ display: block; }
.inline-block	{ display: inline-block; }
.inline			{ display: inline; }
.flex 			{ display: flex; }
.inline-flex	{ display: inline-flex; }
.table			{ display: table; }
.table-row		{ display: table-row; }
.table-cell		{ display: table-cell; }
.hidden			{ display: none; }
.visible		{ visibility: visible; }
.invisible		{ visibility: hidden; }

@media (min-width: 640px) {
	.sm\:block			{ display: block; }
	.sm\:inline-block	{ display: inline-block; }
	.sm\:inline			{ display: inline; }
	.sm\:flex			{ display: flex; }
	.sm\:inline-flex	{ display: inline-flex; }
	.sm\:table			{ display: table; }
	.sm\:table-row		{ display: table-row; }
	.sm\:table-cell		{ display: table-cell; }
	.sm\:hidden			{ display: none; }
	.sm\:visible		{ visibility: visible; }
	.sm\:invisible		{ visibility: hidden; }
}
@media (min-width: 768px) {
	.md\:block			{ display: block; }
	.md\:inline-block	{ display: inline-block; }
	.md\:inline			{ display: inline; }
	.md\:flex			{ display: flex; }
	.md\:inline-flex	{ display: inline-flex; }
	.md\:table			{ display: table; }
	.md\:table-row		{ display: table-row; }
	.md\:table-cell		{ display: table-cell; }
	.md\:hidden			{ display: none; }
	.md\:visible		{ visibility: visible; }
	.md\:invisible		{ visibility: hidden; }
}
@media (min-width: 1024px) {
	.lg\:block			{ display: block; }
	.lg\:inline-block	{ display: inline-block; }
	.lg\:inline			{ display: inline; }
	.lg\:flex			{ display: flex; }
	.lg\:inline-flex	{ display: inline-flex; }
	.lg\:table			{ display: table; }
	.lg\:table-row		{ display: table-row; }
	.lg\:table-cell		{ display: table-cell; }
	.lg\:hidden			{ display: none; }
	.lg\:visible		{ visibility: visible; }
	.lg\:invisible		{ visibility: hidden; }
}
@media (min-width: 1280px) {
	.xl\:block			{ display: block; }
	.xl\:inline-block	{ display: inline-block; }
	.xl\:inline			{ display: inline; }
	.xl\:flex			{ display: flex; }
	.xl\:inline-flex	{ display: inline-flex; }
	.xl\:table			{ display: table; }
	.xl\:table-row		{ display: table-row; }
	.xl\:table-cell		{ display: table-cell; }
	.xl\:hidden			{ display: none; }
	.xl\:visible		{ visibility: visible; }
	.xl\:invisible		{ visibility: hidden; }
}