.font-sans 	{ font-family: $font-sans; }
.font-serif	{ font-family: $font-serif; }
.font-mono	{ font-family: $font-mono; }
.italic		{ font-style: italic; }
.not-italic	{ font-style: normal; }

.text-xs	{ font-size: $text-xs; }
.text-sm	{ font-size: $text-sm; }
.text-base	{ font-size: $text-base; }
.text-lg	{ font-size: $text-lg; }
.text-xl	{ font-size: $text-xl; }
.text-2xl	{ font-size: $text-2xl; }
.text-3xl	{ font-size: $text-3xl; }
.text-4xl	{ font-size: $text-4xl; }
.text-5xl	{ font-size: $text-5xl; }
.text-6xl	{ font-size: $text-6xl; }

.font-hairline	{ font-weight: 100; }
.font-thin 		{ font-weight: 200; }
.font-light		{ font-weight: 300; }
.font-normal	{ font-weight: 400; }
.font-medium	{ font-weight: 500; }
.font-semibold	{ font-weight: 600; }
.font-bold		{ font-weight: 700; }
.font-extrabold	{ font-weight: 800; }
.font-black		{ font-weight: 900; }

@media (min-width: 640px) {
	.sm\:text-xs	{ font-size: $text-xs; }
	.sm\:text-sm	{ font-size: $text-sm; }
	.sm\:text-base	{ font-size: $text-base; }
	.sm\:text-lg	{ font-size: $text-lg; }
	.sm\:text-xl	{ font-size: $text-xl; }
	.sm\:text-2xl	{ font-size: $text-2xl; }
	.sm\:text-3xl	{ font-size: $text-3xl; }
	.sm\:text-4xl	{ font-size: $text-4xl; }
	.sm\:text-5xl	{ font-size: $text-5xl; }
	.sm\:text-6xl	{ font-size: $text-6xl; }
	.sm\:font-hairline	{ font-weight: 100; }
	.sm\:font-thin		{ font-weight: 200; }
	.sm\:font-light		{ font-weight: 300; }
	.sm\:font-normal	{ font-weight: 400; }
	.sm\:font-medium	{ font-weight: 500; }
	.sm\:font-semibold	{ font-weight: 600; }
	.sm\:font-bold		{ font-weight: 700; }
	.sm\:font-extrabold	{ font-weight: 800; }
	.sm\:font-black		{ font-weight: 900; }
}
@media (min-width: 768px) {
	.md\:text-xs	{ font-size: $text-xs; }
	.md\:text-sm	{ font-size: $text-sm; }
	.md\:text-base	{ font-size: $text-base; }
	.md\:text-lg	{ font-size: $text-lg; }
	.md\:text-xl	{ font-size: $text-xl; }
	.md\:text-2xl	{ font-size: $text-2xl; }
	.md\:text-3xl	{ font-size: $text-3xl; }
	.md\:text-4xl	{ font-size: $text-4xl; }
	.md\:text-5xl	{ font-size: $text-5xl; }
	.md\:text-6xl	{ font-size: $text-6xl; }
	.md\:font-hairline	{ font-weight: 100; }
	.md\:font-thin		{ font-weight: 200; }
	.md\:font-light		{ font-weight: 300; }
	.md\:font-normal	{ font-weight: 400; }
	.md\:font-medium	{ font-weight: 500; }
	.md\:font-semibold	{ font-weight: 600; }
	.md\:font-bold		{ font-weight: 700; }
	.md\:font-extrabold	{ font-weight: 800; }
	.md\:font-black		{ font-weight: 900; }
}
@media (min-width: 1024px) {
	.lg\:text-xs	{ font-size: $text-xs; }
	.lg\:text-sm	{ font-size: $text-sm; }
	.lg\:text-base	{ font-size: $text-base; }
	.lg\:text-lg	{ font-size: $text-lg; }
	.lg\:text-xl	{ font-size: $text-xl; }
	.lg\:text-2xl	{ font-size: $text-2xl; }
	.lg\:text-3xl	{ font-size: $text-3xl; }
	.lg\:text-4xl	{ font-size: $text-4xl; }
	.lg\:text-5xl	{ font-size: $text-5xl; }
	.lg\:text-6xl	{ font-size: $text-6xl; }
	.lg\:font-hairline	{ font-weight: 100; }
	.lg\:font-thin		{ font-weight: 200; }
	.lg\:font-light		{ font-weight: 300; }
	.lg\:font-normal	{ font-weight: 400; }
	.lg\:font-medium	{ font-weight: 500; }
	.lg\:font-semibold	{ font-weight: 600; }
	.lg\:font-bold		{ font-weight: 700; }
	.lg\:font-extrabold	{ font-weight: 800; }
	.lg\:font-black		{ font-weight: 900; }
}
@media (min-width: 1280px) {
	.xl\:text-xs	{ font-size: $text-xs; }
	.xl\:text-sm	{ font-size: $text-sm; }
	.xl\:text-base	{ font-size: $text-base; }
	.xl\:text-lg	{ font-size: $text-lg; }
	.xl\:text-xl	{ font-size: $text-xl; }
	.xl\:text-2xl	{ font-size: $text-2xl; }
	.xl\:text-3xl	{ font-size: $text-3xl; }
	.xl\:text-4xl	{ font-size: $text-4xl; }
	.xl\:text-5xl	{ font-size: $text-5xl; }
	.xl\:text-6xl	{ font-size: $text-6xl; }
	.xl\:font-hairline	{ font-weight: 100; }
	.xl\:font-thin		{ font-weight: 200; }
	.xl\:font-light		{ font-weight: 300; }
	.xl\:font-normal	{ font-weight: 400; }
	.xl\:font-medium	{ font-weight: 500; }
	.xl\:font-semibold	{ font-weight: 600; }
	.xl\:font-bold		{ font-weight: 700; }
	.xl\:font-extrabold	{ font-weight: 800; }
	.xl\:font-black		{ font-weight: 900; }
}