.m-0	{ margin: 0; }
.m-1	{ margin: 0.25rem; }
.m-2	{ margin: 0.5rem; }
.m-3	{ margin: 0.75rem; }
.m-4	{ margin: 1rem; }
.m-5	{ margin: 1.25rem; }
.m-6	{ margin: 1.5rem; }
.m-8	{ margin: 2rem; }
.m-10	{ margin: 2.5rem; }
.m-12	{ margin: 3rem; }
.m-16	{ margin: 4rem; }
.m-20	{ margin: 5rem; }
.m-24	{ margin: 6rem; }
.m-32	{ margin: 8rem; }
.m-40	{ margin: 10rem; }
.m-48	{ margin: 12rem; }
.m-56	{ margin: 14rem; }
.m-64	{ margin: 16rem; }
.m-auto	{ margin: auto; }
.m-px	{ margin: 1px; }

.-m-1	{ margin: -0.25rem; }
.-m-2	{ margin: -0.5rem; }
.-m-3	{ margin: -0.75rem; }
.-m-4	{ margin: -1rem; }
.-m-5	{ margin: -1.25rem; }
.-m-6	{ margin: -1.5rem; }
.-m-8	{ margin: -2rem; }
.-m-10	{ margin: -2.5rem; }
.-m-12	{ margin: -3rem; }
.-m-16	{ margin: -4rem; }
.-m-20	{ margin: -5rem; }
.-m-24	{ margin: -6rem; }
.-m-32	{ margin: -8rem; }
.-m-40	{ margin: -10rem; }
.-m-48	{ margin: -12rem; }
.-m-56	{ margin: -14rem; }
.-m-64	{ margin: -16rem; }
.-m-px	{ margin: -1px; }

.my-0		{ margin-top: 0; margin-bottom: 0; }
.mx-0		{ margin-left: 0; margin-right: 0; }
.my-1		{ margin-top: 0.25rem; margin-bottom: 0.25rem; }
.mx-1		{ margin-left: 0.25rem; margin-right: 0.25rem; }
.my-2		{ margin-top: 0.5rem; margin-bottom: 0.5rem; }
.mx-2		{ margin-left: 0.5rem; margin-right: 0.5rem; }
.my-3		{ margin-top: 0.75rem; margin-bottom: 0.75rem; }
.mx-3		{ margin-left: 0.75rem; margin-right: 0.75rem; }
.my-4		{ margin-top: 1rem; margin-bottom: 1rem; }
.mx-4		{ margin-left: 1rem; margin-right: 1rem; }
.my-5		{ margin-top: 1.25rem; margin-bottom: 1.25rem; }
.mx-5		{ margin-left: 1.25rem; margin-right: 1.25rem; }
.my-6		{ margin-top: 1.5rem; margin-bottom: 1.5rem; }
.mx-6		{ margin-left: 1.5rem; margin-right: 1.5rem; }
.my-8		{ margin-top: 2rem; margin-bottom: 2rem; }
.mx-8		{ margin-left: 2rem; margin-right: 2rem; }
.my-10		{ margin-top: 2.5rem; margin-bottom: 2.5rem; }
.mx-10		{ margin-left: 2.5rem; margin-right: 2.5rem; }  
.my-12		{ margin-top: 3rem; margin-bottom: 3rem; }  
.mx-12		{ margin-left: 3rem; margin-right: 3rem; }
.my-16		{ margin-top: 4rem; margin-bottom: 4rem; }
.mx-16		{ margin-left: 4rem; margin-right: 4rem; }
.my-20		{ margin-top: 5rem; margin-bottom: 5rem; }
.mx-20		{ margin-left: 5rem; margin-right: 5rem; }
.my-24		{ margin-top: 6rem; margin-bottom: 6rem; }
.mx-24		{ margin-left: 6rem; margin-right: 6rem; }
.my-32		{ margin-top: 8rem; margin-bottom: 8rem; }
.mx-32		{ margin-left: 8rem; margin-right: 8rem; }
.my-40		{ margin-top: 10rem; margin-bottom: 10rem; }
.mx-40		{ margin-left: 10rem; margin-right: 10rem; }
.my-48		{ margin-top: 12rem; margin-bottom: 12rem; }
.mx-48		{ margin-left: 12rem; margin-right: 12rem; }
.my-56		{ margin-top: 14rem; margin-bottom: 14rem; }
.mx-56		{ margin-left: 14rem; margin-right: 14rem; }
.my-64		{ margin-top: 16rem; margin-bottom: 16rem; }
.mx-64		{ margin-left: 16rem; margin-right: 16rem; }
.my-auto	{ margin-top: auto; margin-bottom: auto; }
.mx-auto	{ margin-left: auto; margin-right: auto; }
.my-px		{ margin-top: 1px; margin-bottom: 1px; }
.mx-px		{ margin-left: 1px; margin-right: 1px; }

.-my-1		{ margin-top: -0.25rem; margin-bottom: -0.25rem; }  
.-mx-1		{ margin-left: -0.25rem; margin-right: -0.25rem; }
.-my-2		{ margin-top: -0.5rem; margin-bottom: -0.5rem; }
.-mx-2		{ margin-left: -0.5rem; margin-right: -0.5rem; }
.-my-3		{ margin-top: -0.75rem; margin-bottom: -0.75rem; }
.-mx-3		{ margin-left: -0.75rem; margin-right: -0.75rem; }
.-my-4		{ margin-top: -1rem; margin-bottom: -1rem; }
.-mx-4		{ margin-left: -1rem; margin-right: -1rem; }
.-my-5		{ margin-top: -1.25rem; margin-bottom: -1.25rem; }
.-mx-5		{ margin-left: -1.25rem; margin-right: -1.25rem; }
.-my-6		{ margin-top: -1.5rem; margin-bottom: -1.5rem; }
.-mx-6		{ margin-left: -1.5rem; margin-right: -1.5rem; }
.-my-8		{ margin-top: -2rem; margin-bottom: -2rem; }
.-mx-8		{ margin-left: -2rem; margin-right: -2rem; }
.-my-10		{ margin-top: -2.5rem; margin-bottom: -2.5rem; }
.-mx-10		{ margin-left: -2.5rem; margin-right: -2.5rem; }
.-my-12		{ margin-top: -3rem; margin-bottom: -3rem; } 
.-mx-12		{ margin-left: -3rem; margin-right: -3rem; }
.-my-16		{ margin-top: -4rem; margin-bottom: -4rem; }
.-mx-16		{ margin-left: -4rem; margin-right: -4rem; }
.-my-20		{ margin-top: -5rem; margin-bottom: -5rem; }
.-mx-20		{ margin-left: -5rem; margin-right: -5rem; }
.-my-24		{ margin-top: -6rem; margin-bottom: -6rem; }
.-mx-24		{ margin-left: -6rem; margin-right: -6rem; }
.-my-32		{ margin-top: -8rem; margin-bottom: -8rem; }
.-mx-32		{ margin-left: -8rem; margin-right: -8rem; }
.-my-40		{ margin-top: -10rem; margin-bottom: -10rem; }
.-mx-40		{ margin-left: -10rem; margin-right: -10rem; }
.-my-48		{ margin-top: -12rem; margin-bottom: -12rem; }
.-mx-48		{ margin-left: -12rem; margin-right: -12rem; }
.-my-56		{ margin-top: -14rem; margin-bottom: -14rem; }
.-mx-56		{ margin-left: -14rem; margin-right: -14rem; }
.-my-64		{ margin-top: -16rem; margin-bottom: -16rem; }
.-mx-64		{ margin-left: -16rem; margin-right: -16rem; }
.-my-px		{ margin-top: -1px; margin-bottom: -1px; }
.-mx-px		{ margin-left: -1px; margin-right: -1px; }

.mt-0		{ margin-top: 0; }
.mr-0		{ margin-right: 0; }
.mb-0		{ margin-bottom: 0; }
.ml-0		{ margin-left: 0; }
.mt-1		{ margin-top: 0.25rem; }
.mr-1		{ margin-right: 0.25rem; }
.mb-1		{ margin-bottom: 0.25rem; }
.ml-1		{ margin-left: 0.25rem; }
.mt-2		{ margin-top: 0.5rem; }
.mr-2		{ margin-right: 0.5rem; }
.mb-2		{ margin-bottom: 0.5rem; }
.ml-2		{ margin-left: 0.5rem; }
.mt-3		{ margin-top: 0.75rem; }
.mr-3		{ margin-right: 0.75rem; }
.mb-3		{ margin-bottom: 0.75rem; }
.ml-3		{ margin-left: 0.75rem; }
.mt-4		{ margin-top: 1rem; }
.mr-4		{ margin-right: 1rem; }
.mb-4		{ margin-bottom: 1rem; }
.ml-4		{ margin-left: 1rem; }
.mt-5		{ margin-top: 1.25rem; }
.mr-5		{ margin-right: 1.25rem; }
.mb-5		{ margin-bottom: 1.25rem; }
.ml-5		{ margin-left: 1.25rem; }
.mt-6		{ margin-top: 1.5rem; }
.mr-6		{ margin-right: 1.5rem; }
.mb-6		{ margin-bottom: 1.5rem; }
.ml-6		{ margin-left: 1.5rem; }
.mt-8		{ margin-top: 2rem; }
.mr-8		{ margin-right: 2rem; }
.mb-8		{ margin-bottom: 2rem; }
.ml-8		{ margin-left: 2rem; }
.mt-10		{ margin-top: 2.5rem; }
.mr-10		{ margin-right: 2.5rem; }
.mb-10		{ margin-bottom: 2.5rem; }
.ml-10		{ margin-left: 2.5rem; }
.mt-12		{ margin-top: 3rem; }
.mr-12		{ margin-right: 3rem; }
.mb-12		{ margin-bottom: 3rem; }
.ml-12		{ margin-left: 3rem; }
.mt-16		{ margin-top: 4rem; }
.mr-16		{ margin-right: 4rem; }
.mb-16		{ margin-bottom: 4rem; }
.ml-16		{ margin-left: 4rem; }
.mt-20		{ margin-top: 5rem; }
.mr-20		{ margin-right: 5rem; }
.mb-20		{ margin-bottom: 5rem; }
.ml-20		{ margin-left: 5rem; }
.mt-24		{ margin-top: 6rem; }
.mr-24		{ margin-right: 6rem; }
.mb-24		{ margin-bottom: 6rem; }
.ml-24		{ margin-left: 6rem; }
.mt-32		{ margin-top: 8rem; }
.mr-32		{ margin-right: 8rem; }
.mb-32		{ margin-bottom: 8rem; }
.ml-32		{ margin-left: 8rem; }
.mt-40		{ margin-top: 10rem; }
.mr-40		{ margin-right: 10rem; }
.mb-40		{ margin-bottom: 10rem; }
.ml-40		{ margin-left: 10rem; }
.mt-48		{ margin-top: 12rem; }
.mr-48		{ margin-right: 12rem; }
.mb-48		{ margin-bottom: 12rem; }
.ml-48		{ margin-left: 12rem; }
.mt-56		{ margin-top: 14rem; }
.mr-56		{ margin-right: 14rem; }
.mb-56		{ margin-bottom: 14rem; }
.ml-56		{ margin-left: 14rem; }
.mt-64		{ margin-top: 16rem; }
.mr-64		{ margin-right: 16rem; }
.mb-64		{ margin-bottom: 16rem; }
.ml-64		{ margin-left: 16rem; }
.mt-auto	{ margin-top: auto; }
.mr-auto	{ margin-right: auto; }
.mb-auto	{ margin-bottom: auto; }
.ml-auto	{ margin-left: auto; }
.mt-px		{ margin-top: 1px; }
.mr-px		{ margin-right: 1px; }
.mb-px		{ margin-bottom: 1px; }
.ml-px		{ margin-left: 1px; }

.-mt-1	{ margin-top: -0.25rem; }  
.-mr-1	{ margin-right: -0.25rem; }  
.-mb-1	{ margin-bottom: -0.25rem; }  
.-ml-1	{ margin-left: -0.25rem; }  
.-mt-2	{ margin-top: -0.5rem; }  
.-mr-2	{ margin-right: -0.5rem; }  
.-mb-2	{ margin-bottom: -0.5rem; }  
.-ml-2	{ margin-left: -0.5rem; }  
.-mt-3	{ margin-top: -0.75rem; }  
.-mr-3	{ margin-right: -0.75rem; }  
.-mb-3	{ margin-bottom: -0.75rem; }  
.-ml-3	{ margin-left: -0.75rem; }  
.-mt-4	{ margin-top: -1rem; }
.-mr-4	{ margin-right: -1rem; }
.-mb-4	{ margin-bottom: -1rem; }
.-ml-4	{ margin-left: -1rem; }
.-mt-5	{ margin-top: -1.25rem; }
.-mr-5	{ margin-right: -1.25rem; }
.-mb-5	{ margin-bottom: -1.25rem; }
.-ml-5	{ margin-left: -1.25rem; }
.-mt-6	{ margin-top: -1.5rem; }
.-mr-6	{ margin-right: -1.5rem; }
.-mb-6	{ margin-bottom: -1.5rem; }
.-ml-6	{ margin-left: -1.5rem; }
.-mt-8	{ margin-top: -2rem; }
.-mr-8	{ margin-right: -2rem; }
.-mb-8	{ margin-bottom: -2rem; }
.-ml-8	{ margin-left: -2rem; }
.-mt-10	{ margin-top: -2.5rem; }
.-mr-10	{ margin-right: -2.5rem; }
.-mb-10	{ margin-bottom: -2.5rem; }
.-ml-10	{ margin-left: -2.5rem; }
.-mt-12	{ margin-top: -3rem; }
.-mr-12	{ margin-right: -3rem; }  
.-mb-12	{ margin-bottom: -3rem; } 
.-ml-12	{ margin-left: -3rem; }
.-mt-16	{ margin-top: -4rem; }
.-mr-16	{ margin-right: -4rem; }
.-mb-16	{ margin-bottom: -4rem; }
.-ml-16	{ margin-left: -4rem; }
.-mt-20	{ margin-top: -5rem; }
.-mr-20	{ margin-right: -5rem; }
.-mb-20	{ margin-bottom: -5rem; }
.-ml-20	{ margin-left: -5rem; }
.-mt-24	{ margin-top: -6rem; }
.-mr-24	{ margin-right: -6rem; }
.-mb-24	{ margin-bottom: -6rem; }
.-ml-24	{ margin-left: -6rem; }
.-mt-32	{ margin-top: -8rem; }
.-mr-32	{ margin-right: -8rem; }
.-mb-32	{ margin-bottom: -8rem; }
.-ml-32	{ margin-left: -8rem; } 
.-mt-40	{ margin-top: -10rem; }
.-mr-40	{ margin-right: -10rem; }
.-mb-40	{ margin-bottom: -10rem; }
.-ml-40	{ margin-left: -10rem; }
.-mt-48	{ margin-top: -12rem; }
.-mr-48	{ margin-right: -12rem; }
.-mb-48	{ margin-bottom: -12rem; }
.-ml-48	{ margin-left: -12rem; }
.-mt-56	{ margin-top: -14rem; }
.-mr-56	{ margin-right: -14rem; }
.-mb-56	{ margin-bottom: -14rem; }
.-ml-56	{ margin-left: -14rem; }
.-mt-64	{ margin-top: -16rem; }
.-mr-64	{ margin-right: -16rem; }
.-mb-64	{ margin-bottom: -16rem; }
.-ml-64	{ margin-left: -16rem; }
.-mt-px	{ margin-top: -1px; }
.-mr-px	{ margin-right: -1px; }
.-mb-px	{ margin-bottom: -1px; }
.-ml-px	{ margin-left: -1px; }

@media (min-width: 640px) {  
	.sm\:m-0 { margin: 0; }
	.sm\:m-1 { margin: 0.25rem; }
	.sm\:m-2 { margin: 0.5rem; }
	.sm\:m-3 { margin: 0.75rem; }
	.sm\:m-4 { margin: 1rem; }
	.sm\:m-5 { margin: 1.25rem; }
	.sm\:m-6 { margin: 1.5rem; }
	.sm\:m-8 { margin: 2rem; }
	.sm\:m-10 { margin: 2.5rem; }
	.sm\:m-12 { margin: 3rem; }
	.sm\:m-16 { margin: 4rem; }
	.sm\:m-20 { margin: 5rem; }
	.sm\:m-24 { margin: 6rem; }
	.sm\:m-32 { margin: 8rem; }
	.sm\:m-40 { margin: 10rem; }
	.sm\:m-48 { margin: 12rem; }
	.sm\:m-56 { margin: 14rem; }
	.sm\:m-64 { margin: 16rem; }
	.sm\:m-auto { margin: auto; }
	.sm\:m-px { margin: 1px; }
	.sm\:-m-1 { margin: -0.25rem; }
	.sm\:-m-2 { margin: -0.5rem; }
	.sm\:-m-3 { margin: -0.75rem; }
	.sm\:-m-4 { margin: -1rem; }
	.sm\:-m-5 { margin: -1.25rem; }
	.sm\:-m-6 { margin: -1.5rem; }
	.sm\:-m-8 { margin: -2rem; }
	.sm\:-m-10 { margin: -2.5rem; }
	.sm\:-m-12 { margin: -3rem; }
	.sm\:-m-16 { margin: -4rem; }
	.sm\:-m-20 { margin: -5rem; }
	.sm\:-m-24 { margin: -6rem; }
	.sm\:-m-32 { margin: -8rem; }
	.sm\:-m-40 { margin: -10rem; }
	.sm\:-m-48 { margin: -12rem; }
	.sm\:-m-56 { margin: -14rem; }
	.sm\:-m-64 { margin: -16rem; }
	.sm\:-m-px { margin: -1px; }
	.sm\:my-0 { margin-top: 0; margin-bottom: 0; }
	.sm\:mx-0 { margin-left: 0; margin-right: 0; }
	.sm\:my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
	.sm\:mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
	.sm\:my-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
	.sm\:mx-2 { margin-left: 0.5rem; margin-right: 0.5rem; }
	.sm\:my-3 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
	.sm\:mx-3 { margin-left: 0.75rem; margin-right: 0.75rem; }
	.sm\:my-4 { margin-top: 1rem; margin-bottom: 1rem; }
	.sm\:mx-4 { margin-left: 1rem; margin-right: 1rem; }
	.sm\:my-5 { margin-top: 1.25rem; margin-bottom: 1.25rem; }
	.sm\:mx-5 { margin-left: 1.25rem; margin-right: 1.25rem; }
	.sm\:my-6 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
	.sm\:mx-6 { margin-left: 1.5rem; margin-right: 1.5rem; }
	.sm\:my-8 { margin-top: 2rem; margin-bottom: 2rem; }
	.sm\:mx-8 { margin-left: 2rem; margin-right: 2rem; }
	.sm\:my-10 { margin-top: 2.5rem; margin-bottom: 2.5rem; }
	.sm\:mx-10 { margin-left: 2.5rem; margin-right: 2.5rem; }  
	.sm\:my-12 { margin-top: 3rem; margin-bottom: 3rem; }  
	.sm\:mx-12 { margin-left: 3rem; margin-right: 3rem; }
	.sm\:my-16 { margin-top: 4rem; margin-bottom: 4rem; }
	.sm\:mx-16 { margin-left: 4rem; margin-right: 4rem; }
	.sm\:my-20 { margin-top: 5rem; margin-bottom: 5rem; }
	.sm\:mx-20 { margin-left: 5rem; margin-right: 5rem; }
	.sm\:my-24 { margin-top: 6rem; margin-bottom: 6rem; }
	.sm\:mx-24 { margin-left: 6rem; margin-right: 6rem; }
	.sm\:my-32 { margin-top: 8rem; margin-bottom: 8rem; }
	.sm\:mx-32 { margin-left: 8rem; margin-right: 8rem; }
	.sm\:my-40 { margin-top: 10rem; margin-bottom: 10rem; }
	.sm\:mx-40 { margin-left: 10rem; margin-right: 10rem; }
	.sm\:my-48 { margin-top: 12rem; margin-bottom: 12rem; }
	.sm\:mx-48 { margin-left: 12rem; margin-right: 12rem; }
	.sm\:my-56 { margin-top: 14rem; margin-bottom: 14rem; }
	.sm\:mx-56 { margin-left: 14rem; margin-right: 14rem; }
	.sm\:my-64 { margin-top: 16rem; margin-bottom: 16rem; }
	.sm\:mx-64 { margin-left: 16rem; margin-right: 16rem; }
	.sm\:my-auto { margin-top: auto; margin-bottom: auto; }
	.sm\:mx-auto { margin-left: auto; margin-right: auto; }
	.sm\:my-px { margin-top: 1px; margin-bottom: 1px; }
	.sm\:mx-px { margin-left: 1px; margin-right: 1px; }
	.sm\:-my-1 { margin-top: -0.25rem; margin-bottom: -0.25rem; }  
	.sm\:-mx-1 { margin-left: -0.25rem; margin-right: -0.25rem; }
	.sm\:-my-2 { margin-top: -0.5rem; margin-bottom: -0.5rem; }
	.sm\:-mx-2 { margin-left: -0.5rem; margin-right: -0.5rem; }
	.sm\:-my-3 { margin-top: -0.75rem; margin-bottom: -0.75rem; }
	.sm\:-mx-3 { margin-left: -0.75rem; margin-right: -0.75rem; }
	.sm\:-my-4 { margin-top: -1rem; margin-bottom: -1rem; }
	.sm\:-mx-4 { margin-left: -1rem; margin-right: -1rem; }
	.sm\:-my-5 { margin-top: -1.25rem; margin-bottom: -1.25rem; }
	.sm\:-mx-5 { margin-left: -1.25rem; margin-right: -1.25rem; }
	.sm\:-my-6 { margin-top: -1.5rem; margin-bottom: -1.5rem; }
	.sm\:-mx-6 { margin-left: -1.5rem; margin-right: -1.5rem; }
	.sm\:-my-8 { margin-top: -2rem; margin-bottom: -2rem; }
	.sm\:-mx-8 { margin-left: -2rem; margin-right: -2rem; }
	.sm\:-my-10 { margin-top: -2.5rem; margin-bottom: -2.5rem; }
	.sm\:-mx-10 { margin-left: -2.5rem; margin-right: -2.5rem; }
	.sm\:-my-12 { margin-top: -3rem; margin-bottom: -3rem; } 
	.sm\:-mx-12 { margin-left: -3rem; margin-right: -3rem; }
	.sm\:-my-16 { margin-top: -4rem; margin-bottom: -4rem; }
	.sm\:-mx-16 { margin-left: -4rem; margin-right: -4rem; }
	.sm\:-my-20 { margin-top: -5rem; margin-bottom: -5rem; }
	.sm\:-mx-20 { margin-left: -5rem; margin-right: -5rem; }
	.sm\:-my-24 { margin-top: -6rem; margin-bottom: -6rem; }
	.sm\:-mx-24 { margin-left: -6rem; margin-right: -6rem; }
	.sm\:-my-32 { margin-top: -8rem; margin-bottom: -8rem; }
	.sm\:-mx-32 { margin-left: -8rem; margin-right: -8rem; }
	.sm\:-my-40 { margin-top: -10rem; margin-bottom: -10rem; }
	.sm\:-mx-40 { margin-left: -10rem; margin-right: -10rem; }
	.sm\:-my-48 { margin-top: -12rem; margin-bottom: -12rem; }
	.sm\:-mx-48 { margin-left: -12rem; margin-right: -12rem; }
	.sm\:-my-56 { margin-top: -14rem; margin-bottom: -14rem; }
	.sm\:-mx-56 { margin-left: -14rem; margin-right: -14rem; }
	.sm\:-my-64 { margin-top: -16rem; margin-bottom: -16rem; }
	.sm\:-mx-64 { margin-left: -16rem; margin-right: -16rem; }
	.sm\:-my-px { margin-top: -1px; margin-bottom: -1px; }
	.sm\:-mx-px { margin-left: -1px; margin-right: -1px; }
	.sm\:mt-0 { margin-top: 0; }
	.sm\:mr-0 { margin-right: 0; }
	.sm\:mb-0 { margin-bottom: 0; }
	.sm\:ml-0 { margin-left: 0; }
	.sm\:mt-1 { margin-top: 0.25rem; }
	.sm\:mr-1 { margin-right: 0.25rem; }
	.sm\:mb-1 { margin-bottom: 0.25rem; }
	.sm\:ml-1 { margin-left: 0.25rem; }
	.sm\:mt-2 { margin-top: 0.5rem; }
	.sm\:mr-2 { margin-right: 0.5rem; }
	.sm\:mb-2 { margin-bottom: 0.5rem; }
	.sm\:ml-2 { margin-left: 0.5rem; }
	.sm\:mt-3 { margin-top: 0.75rem; }
	.sm\:mr-3 { margin-right: 0.75rem; }
	.sm\:mb-3 { margin-bottom: 0.75rem; }
	.sm\:ml-3 { margin-left: 0.75rem; }
	.sm\:mt-4 { margin-top: 1rem; }
	.sm\:mr-4 { margin-right: 1rem; }
	.sm\:mb-4 { margin-bottom: 1rem; }
	.sm\:ml-4 { margin-left: 1rem; }
	.sm\:mt-5 { margin-top: 1.25rem; }
	.sm\:mr-5 { margin-right: 1.25rem; }
	.sm\:mb-5 { margin-bottom: 1.25rem; }
	.sm\:ml-5 { margin-left: 1.25rem; }
	.sm\:mt-6 { margin-top: 1.5rem; }
	.sm\:mr-6 { margin-right: 1.5rem; }
	.sm\:mb-6 { margin-bottom: 1.5rem; }
	.sm\:ml-6 { margin-left: 1.5rem; }
	.sm\:mt-8 { margin-top: 2rem; }
	.sm\:mr-8 { margin-right: 2rem; }
	.sm\:mb-8 { margin-bottom: 2rem; }
	.sm\:ml-8 { margin-left: 2rem; }
	.sm\:mt-10 { margin-top: 2.5rem; }
	.sm\:mr-10 { margin-right: 2.5rem; }
	.sm\:mb-10 { margin-bottom: 2.5rem; }
	.sm\:ml-10 { margin-left: 2.5rem; }
	.sm\:mt-12 { margin-top: 3rem; }
	.sm\:mr-12 { margin-right: 3rem; }
	.sm\:mb-12 { margin-bottom: 3rem; }
	.sm\:ml-12 { margin-left: 3rem; }
	.sm\:mt-16 { margin-top: 4rem; }
	.sm\:mr-16 { margin-right: 4rem; }
	.sm\:mb-16 { margin-bottom: 4rem; }
	.sm\:ml-16 { margin-left: 4rem; }
	.sm\:mt-20 { margin-top: 5rem; }
	.sm\:mr-20 { margin-right: 5rem; }
	.sm\:mb-20 { margin-bottom: 5rem; }
	.sm\:ml-20 { margin-left: 5rem; }
	.sm\:mt-24 { margin-top: 6rem; }
	.sm\:mr-24 { margin-right: 6rem; }
	.sm\:mb-24 { margin-bottom: 6rem; }
	.sm\:ml-24 { margin-left: 6rem; }
	.sm\:mt-32 { margin-top: 8rem; }
	.sm\:mr-32 { margin-right: 8rem; }
	.sm\:mb-32 { margin-bottom: 8rem; }
	.sm\:ml-32 { margin-left: 8rem; }
	.sm\:mt-40 { margin-top: 10rem; }
	.sm\:mr-40 { margin-right: 10rem; }
	.sm\:mb-40 { margin-bottom: 10rem; }
	.sm\:ml-40 { margin-left: 10rem; }
	.sm\:mt-48 { margin-top: 12rem; }
	.sm\:mr-48 { margin-right: 12rem; }
	.sm\:mb-48 { margin-bottom: 12rem; }
	.sm\:ml-48 { margin-left: 12rem; }
	.sm\:mt-56 { margin-top: 14rem; }
	.sm\:mr-56 { margin-right: 14rem; }
	.sm\:mb-56 { margin-bottom: 14rem; }
	.sm\:ml-56 { margin-left: 14rem; }
	.sm\:mt-64 { margin-top: 16rem; }
	.sm\:mr-64 { margin-right: 16rem; }
	.sm\:mb-64 { margin-bottom: 16rem; }
	.sm\:ml-64 { margin-left: 16rem; }
	.sm\:mt-auto { margin-top: auto; }
	.sm\:mr-auto { margin-right: auto; }
	.sm\:mb-auto { margin-bottom: auto; }
	.sm\:ml-auto { margin-left: auto; }
	.sm\:mt-px { margin-top: 1px; }
	.sm\:mr-px { margin-right: 1px; }
	.sm\:mb-px { margin-bottom: 1px; }
	.sm\:ml-px { margin-left: 1px; }
	.sm\:-mt-1 { margin-top: -0.25rem; }  
	.sm\:-mr-1 { margin-right: -0.25rem; }  
	.sm\:-mb-1 { margin-bottom: -0.25rem; }  
	.sm\:-ml-1 { margin-left: -0.25rem; }  
	.sm\:-mt-2 { margin-top: -0.5rem; }  
	.sm\:-mr-2 { margin-right: -0.5rem; }  
	.sm\:-mb-2 { margin-bottom: -0.5rem; }  
	.sm\:-ml-2 { margin-left: -0.5rem; }  
	.sm\:-mt-3 { margin-top: -0.75rem; }  
	.sm\:-mr-3 { margin-right: -0.75rem; }  
	.sm\:-mb-3 { margin-bottom: -0.75rem; }  
	.sm\:-ml-3 { margin-left: -0.75rem; }  
	.sm\:-mt-4 { margin-top: -1rem; }
	.sm\:-mr-4 { margin-right: -1rem; }
	.sm\:-mb-4 { margin-bottom: -1rem; }
	.sm\:-ml-4 { margin-left: -1rem; }
	.sm\:-mt-5 { margin-top: -1.25rem; }
	.sm\:-mr-5 { margin-right: -1.25rem; }
	.sm\:-mb-5 { margin-bottom: -1.25rem; }
	.sm\:-ml-5 { margin-left: -1.25rem; }
	.sm\:-mt-6 { margin-top: -1.5rem; }
	.sm\:-mr-6 { margin-right: -1.5rem; }
	.sm\:-mb-6 { margin-bottom: -1.5rem; }
	.sm\:-ml-6 { margin-left: -1.5rem; }
	.sm\:-mt-8 { margin-top: -2rem; }
	.sm\:-mr-8 { margin-right: -2rem; }
	.sm\:-mb-8 { margin-bottom: -2rem; }
	.sm\:-ml-8 { margin-left: -2rem; }
	.sm\:-mt-10 { margin-top: -2.5rem; }
	.sm\:-mr-10 { margin-right: -2.5rem; }
	.sm\:-mb-10 { margin-bottom: -2.5rem; }
	.sm\:-ml-10 { margin-left: -2.5rem; }
	.sm\:-mt-12 { margin-top: -3rem; }
	.sm\:-mr-12 { margin-right: -3rem; }  
	.sm\:-mb-12 { margin-bottom: -3rem; } 
	.sm\:-ml-12 { margin-left: -3rem; }
	.sm\:-mt-16 { margin-top: -4rem; }
	.sm\:-mr-16 { margin-right: -4rem; }
	.sm\:-mb-16 { margin-bottom: -4rem; }
	.sm\:-ml-16 { margin-left: -4rem; }
	.sm\:-mt-20 { margin-top: -5rem; }
	.sm\:-mr-20 { margin-right: -5rem; }
	.sm\:-mb-20 { margin-bottom: -5rem; }
	.sm\:-ml-20 { margin-left: -5rem; }
	.sm\:-mt-24 { margin-top: -6rem; }
	.sm\:-mr-24 { margin-right: -6rem; }
	.sm\:-mb-24 { margin-bottom: -6rem; }
	.sm\:-ml-24 { margin-left: -6rem; }
	.sm\:-mt-32 { margin-top: -8rem; }
	.sm\:-mr-32 { margin-right: -8rem; }
	.sm\:-mb-32 { margin-bottom: -8rem; }
	.sm\:-ml-32 { margin-left: -8rem; } 
	.sm\:-mt-40 { margin-top: -10rem; }
	.sm\:-mr-40 { margin-right: -10rem; }
	.sm\:-mb-40 { margin-bottom: -10rem; }
	.sm\:-ml-40 { margin-left: -10rem; }
	.sm\:-mt-48 { margin-top: -12rem; }
	.sm\:-mr-48 { margin-right: -12rem; }
	.sm\:-mb-48 { margin-bottom: -12rem; }
	.sm\:-ml-48 { margin-left: -12rem; }
	.sm\:-mt-56 { margin-top: -14rem; }
	.sm\:-mr-56 { margin-right: -14rem; }
	.sm\:-mb-56 { margin-bottom: -14rem; }
	.sm\:-ml-56 { margin-left: -14rem; }
	.sm\:-mt-64 { margin-top: -16rem; }
	.sm\:-mr-64 { margin-right: -16rem; }
	.sm\:-mb-64 { margin-bottom: -16rem; }
	.sm\:-ml-64 { margin-left: -16rem; }
	.sm\:-mt-px { margin-top: -1px; }
	.sm\:-mr-px { margin-right: -1px; }
	.sm\:-mb-px { margin-bottom: -1px; }
	.sm\:-ml-px { margin-left: -1px; }
}
@media (min-width: 768px) {
	.md\:m-0 { margin: 0; }
	.md\:m-1 { margin: 0.25rem; }
	.md\:m-2 { margin: 0.5rem; }
	.md\:m-3 { margin: 0.75rem; }
	.md\:m-4 { margin: 1rem; }
	.md\:m-5 { margin: 1.25rem; }
	.md\:m-6 { margin: 1.5rem; }
	.md\:m-8 { margin: 2rem; }
	.md\:m-10 { margin: 2.5rem; }
	.md\:m-12 { margin: 3rem; }
	.md\:m-16 { margin: 4rem; }
	.md\:m-20 { margin: 5rem; }
	.md\:m-24 { margin: 6rem; }
	.md\:m-32 { margin: 8rem; }
	.md\:m-40 { margin: 10rem; }
	.md\:m-48 { margin: 12rem; }
	.md\:m-56 { margin: 14rem; }
	.md\:m-64 { margin: 16rem; }
	.md\:m-auto { margin: auto; }
	.md\:m-px { margin: 1px; }
	.md\:-m-1 { margin: -0.25rem; }
	.md\:-m-2 { margin: -0.5rem; }
	.md\:-m-3 { margin: -0.75rem; }
	.md\:-m-4 { margin: -1rem; }
	.md\:-m-5 { margin: -1.25rem; }
	.md\:-m-6 { margin: -1.5rem; }
	.md\:-m-8 { margin: -2rem; }
	.md\:-m-10 { margin: -2.5rem; }
	.md\:-m-12 { margin: -3rem; }
	.md\:-m-16 { margin: -4rem; }
	.md\:-m-20 { margin: -5rem; }
	.md\:-m-24 { margin: -6rem; }
	.md\:-m-32 { margin: -8rem; }
	.md\:-m-40 { margin: -10rem; }
	.md\:-m-48 { margin: -12rem; }
	.md\:-m-56 { margin: -14rem; }
	.md\:-m-64 { margin: -16rem; }
	.md\:-m-px { margin: -1px; }
	.md\:my-0 { margin-top: 0; margin-bottom: 0; }
	.md\:mx-0 { margin-left: 0; margin-right: 0; }
	.md\:my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
	.md\:mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
	.md\:my-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
	.md\:mx-2 { margin-left: 0.5rem; margin-right: 0.5rem; }
	.md\:my-3 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
	.md\:mx-3 { margin-left: 0.75rem; margin-right: 0.75rem; }
	.md\:my-4 { margin-top: 1rem; margin-bottom: 1rem; }
	.md\:mx-4 { margin-left: 1rem; margin-right: 1rem; }
	.md\:my-5 { margin-top: 1.25rem; margin-bottom: 1.25rem; }
	.md\:mx-5 { margin-left: 1.25rem; margin-right: 1.25rem; }
	.md\:my-6 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
	.md\:mx-6 { margin-left: 1.5rem; margin-right: 1.5rem; }
	.md\:my-8 { margin-top: 2rem; margin-bottom: 2rem; }
	.md\:mx-8 { margin-left: 2rem; margin-right: 2rem; }
	.md\:my-10 { margin-top: 2.5rem; margin-bottom: 2.5rem; }
	.md\:mx-10 { margin-left: 2.5rem; margin-right: 2.5rem; }  
	.md\:my-12 { margin-top: 3rem; margin-bottom: 3rem; }  
	.md\:mx-12 { margin-left: 3rem; margin-right: 3rem; }
	.md\:my-16 { margin-top: 4rem; margin-bottom: 4rem; }
	.md\:mx-16 { margin-left: 4rem; margin-right: 4rem; }
	.md\:my-20 { margin-top: 5rem; margin-bottom: 5rem; }
	.md\:mx-20 { margin-left: 5rem; margin-right: 5rem; }
	.md\:my-24 { margin-top: 6rem; margin-bottom: 6rem; }
	.md\:mx-24 { margin-left: 6rem; margin-right: 6rem; }
	.md\:my-32 { margin-top: 8rem; margin-bottom: 8rem; }
	.md\:mx-32 { margin-left: 8rem; margin-right: 8rem; }
	.md\:my-40 { margin-top: 10rem; margin-bottom: 10rem; }
	.md\:mx-40 { margin-left: 10rem; margin-right: 10rem; }
	.md\:my-48 { margin-top: 12rem; margin-bottom: 12rem; }
	.md\:mx-48 { margin-left: 12rem; margin-right: 12rem; }
	.md\:my-56 { margin-top: 14rem; margin-bottom: 14rem; }
	.md\:mx-56 { margin-left: 14rem; margin-right: 14rem; }
	.md\:my-64 { margin-top: 16rem; margin-bottom: 16rem; }
	.md\:mx-64 { margin-left: 16rem; margin-right: 16rem; }
	.md\:my-auto { margin-top: auto; margin-bottom: auto; }
	.md\:mx-auto { margin-left: auto; margin-right: auto; }
	.md\:my-px { margin-top: 1px; margin-bottom: 1px; }
	.md\:mx-px { margin-left: 1px; margin-right: 1px; }
	.md\:-my-1 { margin-top: -0.25rem; margin-bottom: -0.25rem; }  
	.md\:-mx-1 { margin-left: -0.25rem; margin-right: -0.25rem; }
	.md\:-my-2 { margin-top: -0.5rem; margin-bottom: -0.5rem; }
	.md\:-mx-2 { margin-left: -0.5rem; margin-right: -0.5rem; }
	.md\:-my-3 { margin-top: -0.75rem; margin-bottom: -0.75rem; }
	.md\:-mx-3 { margin-left: -0.75rem; margin-right: -0.75rem; }
	.md\:-my-4 { margin-top: -1rem; margin-bottom: -1rem; }
	.md\:-mx-4 { margin-left: -1rem; margin-right: -1rem; }
	.md\:-my-5 { margin-top: -1.25rem; margin-bottom: -1.25rem; }
	.md\:-mx-5 { margin-left: -1.25rem; margin-right: -1.25rem; }
	.md\:-my-6 { margin-top: -1.5rem; margin-bottom: -1.5rem; }
	.md\:-mx-6 { margin-left: -1.5rem; margin-right: -1.5rem; }
	.md\:-my-8 { margin-top: -2rem; margin-bottom: -2rem; }
	.md\:-mx-8 { margin-left: -2rem; margin-right: -2rem; }
	.md\:-my-10 { margin-top: -2.5rem; margin-bottom: -2.5rem; }
	.md\:-mx-10 { margin-left: -2.5rem; margin-right: -2.5rem; }
	.md\:-my-12 { margin-top: -3rem; margin-bottom: -3rem; } 
	.md\:-mx-12 { margin-left: -3rem; margin-right: -3rem; }
	.md\:-my-16 { margin-top: -4rem; margin-bottom: -4rem; }
	.md\:-mx-16 { margin-left: -4rem; margin-right: -4rem; }
	.md\:-my-20 { margin-top: -5rem; margin-bottom: -5rem; }
	.md\:-mx-20 { margin-left: -5rem; margin-right: -5rem; }
	.md\:-my-24 { margin-top: -6rem; margin-bottom: -6rem; }
	.md\:-mx-24 { margin-left: -6rem; margin-right: -6rem; }
	.md\:-my-32 { margin-top: -8rem; margin-bottom: -8rem; }
	.md\:-mx-32 { margin-left: -8rem; margin-right: -8rem; }
	.md\:-my-40 { margin-top: -10rem; margin-bottom: -10rem; }
	.md\:-mx-40 { margin-left: -10rem; margin-right: -10rem; }
	.md\:-my-48 { margin-top: -12rem; margin-bottom: -12rem; }
	.md\:-mx-48 { margin-left: -12rem; margin-right: -12rem; }
	.md\:-my-56 { margin-top: -14rem; margin-bottom: -14rem; }
	.md\:-mx-56 { margin-left: -14rem; margin-right: -14rem; }
	.md\:-my-64 { margin-top: -16rem; margin-bottom: -16rem; }
	.md\:-mx-64 { margin-left: -16rem; margin-right: -16rem; }
	.md\:-my-px { margin-top: -1px; margin-bottom: -1px; }
	.md\:-mx-px { margin-left: -1px; margin-right: -1px; }
	.md\:mt-0 { margin-top: 0; }
	.md\:mr-0 { margin-right: 0; }
	.md\:mb-0 { margin-bottom: 0; }
	.md\:ml-0 { margin-left: 0; }
	.md\:mt-1 { margin-top: 0.25rem; }
	.md\:mr-1 { margin-right: 0.25rem; }
	.md\:mb-1 { margin-bottom: 0.25rem; }
	.md\:ml-1 { margin-left: 0.25rem; }
	.md\:mt-2 { margin-top: 0.5rem; }
	.md\:mr-2 { margin-right: 0.5rem; }
	.md\:mb-2 { margin-bottom: 0.5rem; }
	.md\:ml-2 { margin-left: 0.5rem; }
	.md\:mt-3 { margin-top: 0.75rem; }
	.md\:mr-3 { margin-right: 0.75rem; }
	.md\:mb-3 { margin-bottom: 0.75rem; }
	.md\:ml-3 { margin-left: 0.75rem; }
	.md\:mt-4 { margin-top: 1rem; }
	.md\:mr-4 { margin-right: 1rem; }
	.md\:mb-4 { margin-bottom: 1rem; }
	.md\:ml-4 { margin-left: 1rem; }
	.md\:mt-5 { margin-top: 1.25rem; }
	.md\:mr-5 { margin-right: 1.25rem; }
	.md\:mb-5 { margin-bottom: 1.25rem; }
	.md\:ml-5 { margin-left: 1.25rem; }
	.md\:mt-6 { margin-top: 1.5rem; }
	.md\:mr-6 { margin-right: 1.5rem; }
	.md\:mb-6 { margin-bottom: 1.5rem; }
	.md\:ml-6 { margin-left: 1.5rem; }
	.md\:mt-8 { margin-top: 2rem; }
	.md\:mr-8 { margin-right: 2rem; }
	.md\:mb-8 { margin-bottom: 2rem; }
	.md\:ml-8 { margin-left: 2rem; }
	.md\:mt-10 { margin-top: 2.5rem; }
	.md\:mr-10 { margin-right: 2.5rem; }
	.md\:mb-10 { margin-bottom: 2.5rem; }
	.md\:ml-10 { margin-left: 2.5rem; }
	.md\:mt-12 { margin-top: 3rem; }
	.md\:mr-12 { margin-right: 3rem; }
	.md\:mb-12 { margin-bottom: 3rem; }
	.md\:ml-12 { margin-left: 3rem; }
	.md\:mt-16 { margin-top: 4rem; }
	.md\:mr-16 { margin-right: 4rem; }
	.md\:mb-16 { margin-bottom: 4rem; }
	.md\:ml-16 { margin-left: 4rem; }
	.md\:mt-20 { margin-top: 5rem; }
	.md\:mr-20 { margin-right: 5rem; }
	.md\:mb-20 { margin-bottom: 5rem; }
	.md\:ml-20 { margin-left: 5rem; }
	.md\:mt-24 { margin-top: 6rem; }
	.md\:mr-24 { margin-right: 6rem; }
	.md\:mb-24 { margin-bottom: 6rem; }
	.md\:ml-24 { margin-left: 6rem; }
	.md\:mt-32 { margin-top: 8rem; }
	.md\:mr-32 { margin-right: 8rem; }
	.md\:mb-32 { margin-bottom: 8rem; }
	.md\:ml-32 { margin-left: 8rem; }
	.md\:mt-40 { margin-top: 10rem; }
	.md\:mr-40 { margin-right: 10rem; }
	.md\:mb-40 { margin-bottom: 10rem; }
	.md\:ml-40 { margin-left: 10rem; }
	.md\:mt-48 { margin-top: 12rem; }
	.md\:mr-48 { margin-right: 12rem; }
	.md\:mb-48 { margin-bottom: 12rem; }
	.md\:ml-48 { margin-left: 12rem; }
	.md\:mt-56 { margin-top: 14rem; }
	.md\:mr-56 { margin-right: 14rem; }
	.md\:mb-56 { margin-bottom: 14rem; }
	.md\:ml-56 { margin-left: 14rem; }
	.md\:mt-64 { margin-top: 16rem; }
	.md\:mr-64 { margin-right: 16rem; }
	.md\:mb-64 { margin-bottom: 16rem; }
	.md\:ml-64 { margin-left: 16rem; }
	.md\:mt-auto { margin-top: auto; }
	.md\:mr-auto { margin-right: auto; }
	.md\:mb-auto { margin-bottom: auto; }
	.md\:ml-auto { margin-left: auto; }
	.md\:mt-px { margin-top: 1px; }
	.md\:mr-px { margin-right: 1px; }
	.md\:mb-px { margin-bottom: 1px; }
	.md\:ml-px { margin-left: 1px; }
	.md\:-mt-1 { margin-top: -0.25rem; }  
	.md\:-mr-1 { margin-right: -0.25rem; }  
	.md\:-mb-1 { margin-bottom: -0.25rem; }  
	.md\:-ml-1 { margin-left: -0.25rem; }  
	.md\:-mt-2 { margin-top: -0.5rem; }  
	.md\:-mr-2 { margin-right: -0.5rem; }  
	.md\:-mb-2 { margin-bottom: -0.5rem; }  
	.md\:-ml-2 { margin-left: -0.5rem; }  
	.md\:-mt-3 { margin-top: -0.75rem; }  
	.md\:-mr-3 { margin-right: -0.75rem; }  
	.md\:-mb-3 { margin-bottom: -0.75rem; }  
	.md\:-ml-3 { margin-left: -0.75rem; }  
	.md\:-mt-4 { margin-top: -1rem; }
	.md\:-mr-4 { margin-right: -1rem; }
	.md\:-mb-4 { margin-bottom: -1rem; }
	.md\:-ml-4 { margin-left: -1rem; }
	.md\:-mt-5 { margin-top: -1.25rem; }
	.md\:-mr-5 { margin-right: -1.25rem; }
	.md\:-mb-5 { margin-bottom: -1.25rem; }
	.md\:-ml-5 { margin-left: -1.25rem; }
	.md\:-mt-6 { margin-top: -1.5rem; }
	.md\:-mr-6 { margin-right: -1.5rem; }
	.md\:-mb-6 { margin-bottom: -1.5rem; }
	.md\:-ml-6 { margin-left: -1.5rem; }
	.md\:-mt-8 { margin-top: -2rem; }
	.md\:-mr-8 { margin-right: -2rem; }
	.md\:-mb-8 { margin-bottom: -2rem; }
	.md\:-ml-8 { margin-left: -2rem; }
	.md\:-mt-10 { margin-top: -2.5rem; }
	.md\:-mr-10 { margin-right: -2.5rem; }
	.md\:-mb-10 { margin-bottom: -2.5rem; }
	.md\:-ml-10 { margin-left: -2.5rem; }
	.md\:-mt-12 { margin-top: -3rem; }
	.md\:-mr-12 { margin-right: -3rem; }  
	.md\:-mb-12 { margin-bottom: -3rem; } 
	.md\:-ml-12 { margin-left: -3rem; }
	.md\:-mt-16 { margin-top: -4rem; }
	.md\:-mr-16 { margin-right: -4rem; }
	.md\:-mb-16 { margin-bottom: -4rem; }
	.md\:-ml-16 { margin-left: -4rem; }
	.md\:-mt-20 { margin-top: -5rem; }
	.md\:-mr-20 { margin-right: -5rem; }
	.md\:-mb-20 { margin-bottom: -5rem; }
	.md\:-ml-20 { margin-left: -5rem; }
	.md\:-mt-24 { margin-top: -6rem; }
	.md\:-mr-24 { margin-right: -6rem; }
	.md\:-mb-24 { margin-bottom: -6rem; }
	.md\:-ml-24 { margin-left: -6rem; }
	.md\:-mt-32 { margin-top: -8rem; }
	.md\:-mr-32 { margin-right: -8rem; }
	.md\:-mb-32 { margin-bottom: -8rem; }
	.md\:-ml-32 { margin-left: -8rem; } 
	.md\:-mt-40 { margin-top: -10rem; }
	.md\:-mr-40 { margin-right: -10rem; }
	.md\:-mb-40 { margin-bottom: -10rem; }
	.md\:-ml-40 { margin-left: -10rem; }
	.md\:-mt-48 { margin-top: -12rem; }
	.md\:-mr-48 { margin-right: -12rem; }
	.md\:-mb-48 { margin-bottom: -12rem; }
	.md\:-ml-48 { margin-left: -12rem; }
	.md\:-mt-56 { margin-top: -14rem; }
	.md\:-mr-56 { margin-right: -14rem; }
	.md\:-mb-56 { margin-bottom: -14rem; }
	.md\:-ml-56 { margin-left: -14rem; }
	.md\:-mt-64 { margin-top: -16rem; }
	.md\:-mr-64 { margin-right: -16rem; }
	.md\:-mb-64 { margin-bottom: -16rem; }
	.md\:-ml-64 { margin-left: -16rem; }
	.md\:-mt-px { margin-top: -1px; }
	.md\:-mr-px { margin-right: -1px; }
	.md\:-mb-px { margin-bottom: -1px; }
	.md\:-ml-px { margin-left: -1px; }
}
@media (min-width: 1024px) {
	.lg\:m-0 { margin: 0; }
	.lg\:m-1 { margin: 0.25rem; }
	.lg\:m-2 { margin: 0.5rem; }
	.lg\:m-3 { margin: 0.75rem; }
	.lg\:m-4 { margin: 1rem; }
	.lg\:m-5 { margin: 1.25rem; }
	.lg\:m-6 { margin: 1.5rem; }
	.lg\:m-8 { margin: 2rem; }
	.lg\:m-10 { margin: 2.5rem; }
	.lg\:m-12 { margin: 3rem; }
	.lg\:m-16 { margin: 4rem; }
	.lg\:m-20 { margin: 5rem; }
	.lg\:m-24 { margin: 6rem; }
	.lg\:m-32 { margin: 8rem; }
	.lg\:m-40 { margin: 10rem; }
	.lg\:m-48 { margin: 12rem; }
	.lg\:m-56 { margin: 14rem; }
	.lg\:m-64 { margin: 16rem; }
	.lg\:m-auto { margin: auto; }
	.lg\:m-px { margin: 1px; }
	.lg\:-m-1 { margin: -0.25rem; }
	.lg\:-m-2 { margin: -0.5rem; }
	.lg\:-m-3 { margin: -0.75rem; }
	.lg\:-m-4 { margin: -1rem; }
	.lg\:-m-5 { margin: -1.25rem; }
	.lg\:-m-6 { margin: -1.5rem; }
	.lg\:-m-8 { margin: -2rem; }
	.lg\:-m-10 { margin: -2.5rem; }
	.lg\:-m-12 { margin: -3rem; }
	.lg\:-m-16 { margin: -4rem; }
	.lg\:-m-20 { margin: -5rem; }
	.lg\:-m-24 { margin: -6rem; }
	.lg\:-m-32 { margin: -8rem; }
	.lg\:-m-40 { margin: -10rem; }
	.lg\:-m-48 { margin: -12rem; }
	.lg\:-m-56 { margin: -14rem; }
	.lg\:-m-64 { margin: -16rem; }
	.lg\:-m-px { margin: -1px; }
	.lg\:my-0 { margin-top: 0; margin-bottom: 0; }
	.lg\:mx-0 { margin-left: 0; margin-right: 0; }
	.lg\:my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
	.lg\:mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
	.lg\:my-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
	.lg\:mx-2 { margin-left: 0.5rem; margin-right: 0.5rem; }
	.lg\:my-3 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
	.lg\:mx-3 { margin-left: 0.75rem; margin-right: 0.75rem; }
	.lg\:my-4 { margin-top: 1rem; margin-bottom: 1rem; }
	.lg\:mx-4 { margin-left: 1rem; margin-right: 1rem; }
	.lg\:my-5 { margin-top: 1.25rem; margin-bottom: 1.25rem; }
	.lg\:mx-5 { margin-left: 1.25rem; margin-right: 1.25rem; }
	.lg\:my-6 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
	.lg\:mx-6 { margin-left: 1.5rem; margin-right: 1.5rem; }
	.lg\:my-8 { margin-top: 2rem; margin-bottom: 2rem; }
	.lg\:mx-8 { margin-left: 2rem; margin-right: 2rem; }
	.lg\:my-10 { margin-top: 2.5rem; margin-bottom: 2.5rem; }
	.lg\:mx-10 { margin-left: 2.5rem; margin-right: 2.5rem; }  
	.lg\:my-12 { margin-top: 3rem; margin-bottom: 3rem; }  
	.lg\:mx-12 { margin-left: 3rem; margin-right: 3rem; }
	.lg\:my-16 { margin-top: 4rem; margin-bottom: 4rem; }
	.lg\:mx-16 { margin-left: 4rem; margin-right: 4rem; }
	.lg\:my-20 { margin-top: 5rem; margin-bottom: 5rem; }
	.lg\:mx-20 { margin-left: 5rem; margin-right: 5rem; }
	.lg\:my-24 { margin-top: 6rem; margin-bottom: 6rem; }
	.lg\:mx-24 { margin-left: 6rem; margin-right: 6rem; }
	.lg\:my-32 { margin-top: 8rem; margin-bottom: 8rem; }
	.lg\:mx-32 { margin-left: 8rem; margin-right: 8rem; }
	.lg\:my-40 { margin-top: 10rem; margin-bottom: 10rem; }
	.lg\:mx-40 { margin-left: 10rem; margin-right: 10rem; }
	.lg\:my-48 { margin-top: 12rem; margin-bottom: 12rem; }
	.lg\:mx-48 { margin-left: 12rem; margin-right: 12rem; }
	.lg\:my-56 { margin-top: 14rem; margin-bottom: 14rem; }
	.lg\:mx-56 { margin-left: 14rem; margin-right: 14rem; }
	.lg\:my-64 { margin-top: 16rem; margin-bottom: 16rem; }
	.lg\:mx-64 { margin-left: 16rem; margin-right: 16rem; }
	.lg\:my-auto { margin-top: auto; margin-bottom: auto; }
	.lg\:mx-auto { margin-left: auto; margin-right: auto; }
	.lg\:my-px { margin-top: 1px; margin-bottom: 1px; }
	.lg\:mx-px { margin-left: 1px; margin-right: 1px; }
	.lg\:-my-1 { margin-top: -0.25rem; margin-bottom: -0.25rem; }  
	.lg\:-mx-1 { margin-left: -0.25rem; margin-right: -0.25rem; }
	.lg\:-my-2 { margin-top: -0.5rem; margin-bottom: -0.5rem; }
	.lg\:-mx-2 { margin-left: -0.5rem; margin-right: -0.5rem; }
	.lg\:-my-3 { margin-top: -0.75rem; margin-bottom: -0.75rem; }
	.lg\:-mx-3 { margin-left: -0.75rem; margin-right: -0.75rem; }
	.lg\:-my-4 { margin-top: -1rem; margin-bottom: -1rem; }
	.lg\:-mx-4 { margin-left: -1rem; margin-right: -1rem; }
	.lg\:-my-5 { margin-top: -1.25rem; margin-bottom: -1.25rem; }
	.lg\:-mx-5 { margin-left: -1.25rem; margin-right: -1.25rem; }
	.lg\:-my-6 { margin-top: -1.5rem; margin-bottom: -1.5rem; }
	.lg\:-mx-6 { margin-left: -1.5rem; margin-right: -1.5rem; }
	.lg\:-my-8 { margin-top: -2rem; margin-bottom: -2rem; }
	.lg\:-mx-8 { margin-left: -2rem; margin-right: -2rem; }
	.lg\:-my-10 { margin-top: -2.5rem; margin-bottom: -2.5rem; }
	.lg\:-mx-10 { margin-left: -2.5rem; margin-right: -2.5rem; }
	.lg\:-my-12 { margin-top: -3rem; margin-bottom: -3rem; } 
	.lg\:-mx-12 { margin-left: -3rem; margin-right: -3rem; }
	.lg\:-my-16 { margin-top: -4rem; margin-bottom: -4rem; }
	.lg\:-mx-16 { margin-left: -4rem; margin-right: -4rem; }
	.lg\:-my-20 { margin-top: -5rem; margin-bottom: -5rem; }
	.lg\:-mx-20 { margin-left: -5rem; margin-right: -5rem; }
	.lg\:-my-24 { margin-top: -6rem; margin-bottom: -6rem; }
	.lg\:-mx-24 { margin-left: -6rem; margin-right: -6rem; }
	.lg\:-my-32 { margin-top: -8rem; margin-bottom: -8rem; }
	.lg\:-mx-32 { margin-left: -8rem; margin-right: -8rem; }
	.lg\:-my-40 { margin-top: -10rem; margin-bottom: -10rem; }
	.lg\:-mx-40 { margin-left: -10rem; margin-right: -10rem; }
	.lg\:-my-48 { margin-top: -12rem; margin-bottom: -12rem; }
	.lg\:-mx-48 { margin-left: -12rem; margin-right: -12rem; }
	.lg\:-my-56 { margin-top: -14rem; margin-bottom: -14rem; }
	.lg\:-mx-56 { margin-left: -14rem; margin-right: -14rem; }
	.lg\:-my-64 { margin-top: -16rem; margin-bottom: -16rem; }
	.lg\:-mx-64 { margin-left: -16rem; margin-right: -16rem; }
	.lg\:-my-px { margin-top: -1px; margin-bottom: -1px; }
	.lg\:-mx-px { margin-left: -1px; margin-right: -1px; }
	.lg\:mt-0 { margin-top: 0; }
	.lg\:mr-0 { margin-right: 0; }
	.lg\:mb-0 { margin-bottom: 0; }
	.lg\:ml-0 { margin-left: 0; }
	.lg\:mt-1 { margin-top: 0.25rem; }
	.lg\:mr-1 { margin-right: 0.25rem; }
	.lg\:mb-1 { margin-bottom: 0.25rem; }
	.lg\:ml-1 { margin-left: 0.25rem; }
	.lg\:mt-2 { margin-top: 0.5rem; }
	.lg\:mr-2 { margin-right: 0.5rem; }
	.lg\:mb-2 { margin-bottom: 0.5rem; }
	.lg\:ml-2 { margin-left: 0.5rem; }
	.lg\:mt-3 { margin-top: 0.75rem; }
	.lg\:mr-3 { margin-right: 0.75rem; }
	.lg\:mb-3 { margin-bottom: 0.75rem; }
	.lg\:ml-3 { margin-left: 0.75rem; }
	.lg\:mt-4 { margin-top: 1rem; }
	.lg\:mr-4 { margin-right: 1rem; }
	.lg\:mb-4 { margin-bottom: 1rem; }
	.lg\:ml-4 { margin-left: 1rem; }
	.lg\:mt-5 { margin-top: 1.25rem; }
	.lg\:mr-5 { margin-right: 1.25rem; }
	.lg\:mb-5 { margin-bottom: 1.25rem; }
	.lg\:ml-5 { margin-left: 1.25rem; }
	.lg\:mt-6 { margin-top: 1.5rem; }
	.lg\:mr-6 { margin-right: 1.5rem; }
	.lg\:mb-6 { margin-bottom: 1.5rem; }
	.lg\:ml-6 { margin-left: 1.5rem; }
	.lg\:mt-8 { margin-top: 2rem; }
	.lg\:mr-8 { margin-right: 2rem; }
	.lg\:mb-8 { margin-bottom: 2rem; }
	.lg\:ml-8 { margin-left: 2rem; }
	.lg\:mt-10 { margin-top: 2.5rem; }
	.lg\:mr-10 { margin-right: 2.5rem; }
	.lg\:mb-10 { margin-bottom: 2.5rem; }
	.lg\:ml-10 { margin-left: 2.5rem; }
	.lg\:mt-12 { margin-top: 3rem; }
	.lg\:mr-12 { margin-right: 3rem; }
	.lg\:mb-12 { margin-bottom: 3rem; }
	.lg\:ml-12 { margin-left: 3rem; }
	.lg\:mt-16 { margin-top: 4rem; }
	.lg\:mr-16 { margin-right: 4rem; }
	.lg\:mb-16 { margin-bottom: 4rem; }
	.lg\:ml-16 { margin-left: 4rem; }
	.lg\:mt-20 { margin-top: 5rem; }
	.lg\:mr-20 { margin-right: 5rem; }
	.lg\:mb-20 { margin-bottom: 5rem; }
	.lg\:ml-20 { margin-left: 5rem; }
	.lg\:mt-24 { margin-top: 6rem; }
	.lg\:mr-24 { margin-right: 6rem; }
	.lg\:mb-24 { margin-bottom: 6rem; }
	.lg\:ml-24 { margin-left: 6rem; }
	.lg\:mt-32 { margin-top: 8rem; }
	.lg\:mr-32 { margin-right: 8rem; }
	.lg\:mb-32 { margin-bottom: 8rem; }
	.lg\:ml-32 { margin-left: 8rem; }
	.lg\:mt-40 { margin-top: 10rem; }
	.lg\:mr-40 { margin-right: 10rem; }
	.lg\:mb-40 { margin-bottom: 10rem; }
	.lg\:ml-40 { margin-left: 10rem; }
	.lg\:mt-48 { margin-top: 12rem; }
	.lg\:mr-48 { margin-right: 12rem; }
	.lg\:mb-48 { margin-bottom: 12rem; }
	.lg\:ml-48 { margin-left: 12rem; }
	.lg\:mt-56 { margin-top: 14rem; }
	.lg\:mr-56 { margin-right: 14rem; }
	.lg\:mb-56 { margin-bottom: 14rem; }
	.lg\:ml-56 { margin-left: 14rem; }
	.lg\:mt-64 { margin-top: 16rem; }
	.lg\:mr-64 { margin-right: 16rem; }
	.lg\:mb-64 { margin-bottom: 16rem; }
	.lg\:ml-64 { margin-left: 16rem; }
	.lg\:mt-auto { margin-top: auto; }
	.lg\:mr-auto { margin-right: auto; }
	.lg\:mb-auto { margin-bottom: auto; }
	.lg\:ml-auto { margin-left: auto; }
	.lg\:mt-px { margin-top: 1px; }
	.lg\:mr-px { margin-right: 1px; }
	.lg\:mb-px { margin-bottom: 1px; }
	.lg\:ml-px { margin-left: 1px; }
	.lg\:-mt-1 { margin-top: -0.25rem; }  
	.lg\:-mr-1 { margin-right: -0.25rem; }  
	.lg\:-mb-1 { margin-bottom: -0.25rem; }  
	.lg\:-ml-1 { margin-left: -0.25rem; }  
	.lg\:-mt-2 { margin-top: -0.5rem; }  
	.lg\:-mr-2 { margin-right: -0.5rem; }  
	.lg\:-mb-2 { margin-bottom: -0.5rem; }  
	.lg\:-ml-2 { margin-left: -0.5rem; }  
	.lg\:-mt-3 { margin-top: -0.75rem; }  
	.lg\:-mr-3 { margin-right: -0.75rem; }  
	.lg\:-mb-3 { margin-bottom: -0.75rem; }  
	.lg\:-ml-3 { margin-left: -0.75rem; }  
	.lg\:-mt-4 { margin-top: -1rem; }
	.lg\:-mr-4 { margin-right: -1rem; }
	.lg\:-mb-4 { margin-bottom: -1rem; }
	.lg\:-ml-4 { margin-left: -1rem; }
	.lg\:-mt-5 { margin-top: -1.25rem; }
	.lg\:-mr-5 { margin-right: -1.25rem; }
	.lg\:-mb-5 { margin-bottom: -1.25rem; }
	.lg\:-ml-5 { margin-left: -1.25rem; }
	.lg\:-mt-6 { margin-top: -1.5rem; }
	.lg\:-mr-6 { margin-right: -1.5rem; }
	.lg\:-mb-6 { margin-bottom: -1.5rem; }
	.lg\:-ml-6 { margin-left: -1.5rem; }
	.lg\:-mt-8 { margin-top: -2rem; }
	.lg\:-mr-8 { margin-right: -2rem; }
	.lg\:-mb-8 { margin-bottom: -2rem; }
	.lg\:-ml-8 { margin-left: -2rem; }
	.lg\:-mt-10 { margin-top: -2.5rem; }
	.lg\:-mr-10 { margin-right: -2.5rem; }
	.lg\:-mb-10 { margin-bottom: -2.5rem; }
	.lg\:-ml-10 { margin-left: -2.5rem; }
	.lg\:-mt-12 { margin-top: -3rem; }
	.lg\:-mr-12 { margin-right: -3rem; }  
	.lg\:-mb-12 { margin-bottom: -3rem; } 
	.lg\:-ml-12 { margin-left: -3rem; }
	.lg\:-mt-16 { margin-top: -4rem; }
	.lg\:-mr-16 { margin-right: -4rem; }
	.lg\:-mb-16 { margin-bottom: -4rem; }
	.lg\:-ml-16 { margin-left: -4rem; }
	.lg\:-mt-20 { margin-top: -5rem; }
	.lg\:-mr-20 { margin-right: -5rem; }
	.lg\:-mb-20 { margin-bottom: -5rem; }
	.lg\:-ml-20 { margin-left: -5rem; }
	.lg\:-mt-24 { margin-top: -6rem; }
	.lg\:-mr-24 { margin-right: -6rem; }
	.lg\:-mb-24 { margin-bottom: -6rem; }
	.lg\:-ml-24 { margin-left: -6rem; }
	.lg\:-mt-32 { margin-top: -8rem; }
	.lg\:-mr-32 { margin-right: -8rem; }
	.lg\:-mb-32 { margin-bottom: -8rem; }
	.lg\:-ml-32 { margin-left: -8rem; } 
	.lg\:-mt-40 { margin-top: -10rem; }
	.lg\:-mr-40 { margin-right: -10rem; }
	.lg\:-mb-40 { margin-bottom: -10rem; }
	.lg\:-ml-40 { margin-left: -10rem; }
	.lg\:-mt-48 { margin-top: -12rem; }
	.lg\:-mr-48 { margin-right: -12rem; }
	.lg\:-mb-48 { margin-bottom: -12rem; }
	.lg\:-ml-48 { margin-left: -12rem; }
	.lg\:-mt-56 { margin-top: -14rem; }
	.lg\:-mr-56 { margin-right: -14rem; }
	.lg\:-mb-56 { margin-bottom: -14rem; }
	.lg\:-ml-56 { margin-left: -14rem; }
	.lg\:-mt-64 { margin-top: -16rem; }
	.lg\:-mr-64 { margin-right: -16rem; }
	.lg\:-mb-64 { margin-bottom: -16rem; }
	.lg\:-ml-64 { margin-left: -16rem; }
	.lg\:-mt-px { margin-top: -1px; }
	.lg\:-mr-px { margin-right: -1px; }
	.lg\:-mb-px { margin-bottom: -1px; }
	.lg\:-ml-px { margin-left: -1px; }
}
@media (min-width: 1280px) {
	.xl\:m-0 { margin: 0; }
	.xl\:m-1 { margin: 0.25rem; }
	.xl\:m-2 { margin: 0.5rem; }
	.xl\:m-3 { margin: 0.75rem; }
	.xl\:m-4 { margin: 1rem; }
	.xl\:m-5 { margin: 1.25rem; }
	.xl\:m-6 { margin: 1.5rem; }
	.xl\:m-8 { margin: 2rem; }
	.xl\:m-10 { margin: 2.5rem; }
	.xl\:m-12 { margin: 3rem; }
	.xl\:m-16 { margin: 4rem; }
	.xl\:m-20 { margin: 5rem; }
	.xl\:m-24 { margin: 6rem; }
	.xl\:m-32 { margin: 8rem; }
	.xl\:m-40 { margin: 10rem; }
	.xl\:m-48 { margin: 12rem; }
	.xl\:m-56 { margin: 14rem; }
	.xl\:m-64 { margin: 16rem; }
	.xl\:m-auto { margin: auto; }
	.xl\:m-px { margin: 1px; }
	.xl\:-m-1 { margin: -0.25rem; }
	.xl\:-m-2 { margin: -0.5rem; }
	.xl\:-m-3 { margin: -0.75rem; }
	.xl\:-m-4 { margin: -1rem; }
	.xl\:-m-5 { margin: -1.25rem; }
	.xl\:-m-6 { margin: -1.5rem; }
	.xl\:-m-8 { margin: -2rem; }
	.xl\:-m-10 { margin: -2.5rem; }
	.xl\:-m-12 { margin: -3rem; }
	.xl\:-m-16 { margin: -4rem; }
	.xl\:-m-20 { margin: -5rem; }
	.xl\:-m-24 { margin: -6rem; }
	.xl\:-m-32 { margin: -8rem; }
	.xl\:-m-40 { margin: -10rem; }
	.xl\:-m-48 { margin: -12rem; }
	.xl\:-m-56 { margin: -14rem; }
	.xl\:-m-64 { margin: -16rem; }
	.xl\:-m-px { margin: -1px; }
	.xl\:my-0 { margin-top: 0; margin-bottom: 0; }
	.xl\:mx-0 { margin-left: 0; margin-right: 0; }
	.xl\:my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
	.xl\:mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
	.xl\:my-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
	.xl\:mx-2 { margin-left: 0.5rem; margin-right: 0.5rem; }
	.xl\:my-3 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
	.xl\:mx-3 { margin-left: 0.75rem; margin-right: 0.75rem; }
	.xl\:my-4 { margin-top: 1rem; margin-bottom: 1rem; }
	.xl\:mx-4 { margin-left: 1rem; margin-right: 1rem; }
	.xl\:my-5 { margin-top: 1.25rem; margin-bottom: 1.25rem; }
	.xl\:mx-5 { margin-left: 1.25rem; margin-right: 1.25rem; }
	.xl\:my-6 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
	.xl\:mx-6 { margin-left: 1.5rem; margin-right: 1.5rem; }
	.xl\:my-8 { margin-top: 2rem; margin-bottom: 2rem; }
	.xl\:mx-8 { margin-left: 2rem; margin-right: 2rem; }
	.xl\:my-10 { margin-top: 2.5rem; margin-bottom: 2.5rem; }
	.xl\:mx-10 { margin-left: 2.5rem; margin-right: 2.5rem; }  
	.xl\:my-12 { margin-top: 3rem; margin-bottom: 3rem; }  
	.xl\:mx-12 { margin-left: 3rem; margin-right: 3rem; }
	.xl\:my-16 { margin-top: 4rem; margin-bottom: 4rem; }
	.xl\:mx-16 { margin-left: 4rem; margin-right: 4rem; }
	.xl\:my-20 { margin-top: 5rem; margin-bottom: 5rem; }
	.xl\:mx-20 { margin-left: 5rem; margin-right: 5rem; }
	.xl\:my-24 { margin-top: 6rem; margin-bottom: 6rem; }
	.xl\:mx-24 { margin-left: 6rem; margin-right: 6rem; }
	.xl\:my-32 { margin-top: 8rem; margin-bottom: 8rem; }
	.xl\:mx-32 { margin-left: 8rem; margin-right: 8rem; }
	.xl\:my-40 { margin-top: 10rem; margin-bottom: 10rem; }
	.xl\:mx-40 { margin-left: 10rem; margin-right: 10rem; }
	.xl\:my-48 { margin-top: 12rem; margin-bottom: 12rem; }
	.xl\:mx-48 { margin-left: 12rem; margin-right: 12rem; }
	.xl\:my-56 { margin-top: 14rem; margin-bottom: 14rem; }
	.xl\:mx-56 { margin-left: 14rem; margin-right: 14rem; }
	.xl\:my-64 { margin-top: 16rem; margin-bottom: 16rem; }
	.xl\:mx-64 { margin-left: 16rem; margin-right: 16rem; }
	.xl\:my-auto { margin-top: auto; margin-bottom: auto; }
	.xl\:mx-auto { margin-left: auto; margin-right: auto; }
	.xl\:my-px { margin-top: 1px; margin-bottom: 1px; }
	.xl\:mx-px { margin-left: 1px; margin-right: 1px; }
	.xl\:-my-1 { margin-top: -0.25rem; margin-bottom: -0.25rem; }  
	.xl\:-mx-1 { margin-left: -0.25rem; margin-right: -0.25rem; }
	.xl\:-my-2 { margin-top: -0.5rem; margin-bottom: -0.5rem; }
	.xl\:-mx-2 { margin-left: -0.5rem; margin-right: -0.5rem; }
	.xl\:-my-3 { margin-top: -0.75rem; margin-bottom: -0.75rem; }
	.xl\:-mx-3 { margin-left: -0.75rem; margin-right: -0.75rem; }
	.xl\:-my-4 { margin-top: -1rem; margin-bottom: -1rem; }
	.xl\:-mx-4 { margin-left: -1rem; margin-right: -1rem; }
	.xl\:-my-5 { margin-top: -1.25rem; margin-bottom: -1.25rem; }
	.xl\:-mx-5 { margin-left: -1.25rem; margin-right: -1.25rem; }
	.xl\:-my-6 { margin-top: -1.5rem; margin-bottom: -1.5rem; }
	.xl\:-mx-6 { margin-left: -1.5rem; margin-right: -1.5rem; }
	.xl\:-my-8 { margin-top: -2rem; margin-bottom: -2rem; }
	.xl\:-mx-8 { margin-left: -2rem; margin-right: -2rem; }
	.xl\:-my-10 { margin-top: -2.5rem; margin-bottom: -2.5rem; }
	.xl\:-mx-10 { margin-left: -2.5rem; margin-right: -2.5rem; }
	.xl\:-my-12 { margin-top: -3rem; margin-bottom: -3rem; } 
	.xl\:-mx-12 { margin-left: -3rem; margin-right: -3rem; }
	.xl\:-my-16 { margin-top: -4rem; margin-bottom: -4rem; }
	.xl\:-mx-16 { margin-left: -4rem; margin-right: -4rem; }
	.xl\:-my-20 { margin-top: -5rem; margin-bottom: -5rem; }
	.xl\:-mx-20 { margin-left: -5rem; margin-right: -5rem; }
	.xl\:-my-24 { margin-top: -6rem; margin-bottom: -6rem; }
	.xl\:-mx-24 { margin-left: -6rem; margin-right: -6rem; }
	.xl\:-my-32 { margin-top: -8rem; margin-bottom: -8rem; }
	.xl\:-mx-32 { margin-left: -8rem; margin-right: -8rem; }
	.xl\:-my-40 { margin-top: -10rem; margin-bottom: -10rem; }
	.xl\:-mx-40 { margin-left: -10rem; margin-right: -10rem; }
	.xl\:-my-48 { margin-top: -12rem; margin-bottom: -12rem; }
	.xl\:-mx-48 { margin-left: -12rem; margin-right: -12rem; }
	.xl\:-my-56 { margin-top: -14rem; margin-bottom: -14rem; }
	.xl\:-mx-56 { margin-left: -14rem; margin-right: -14rem; }
	.xl\:-my-64 { margin-top: -16rem; margin-bottom: -16rem; }
	.xl\:-mx-64 { margin-left: -16rem; margin-right: -16rem; }
	.xl\:-my-px { margin-top: -1px; margin-bottom: -1px; }
	.xl\:-mx-px { margin-left: -1px; margin-right: -1px; }
	.xl\:mt-0 { margin-top: 0; }
	.xl\:mr-0 { margin-right: 0; }
	.xl\:mb-0 { margin-bottom: 0; }
	.xl\:ml-0 { margin-left: 0; }
	.xl\:mt-1 { margin-top: 0.25rem; }
	.xl\:mr-1 { margin-right: 0.25rem; }
	.xl\:mb-1 { margin-bottom: 0.25rem; }
	.xl\:ml-1 { margin-left: 0.25rem; }
	.xl\:mt-2 { margin-top: 0.5rem; }
	.xl\:mr-2 { margin-right: 0.5rem; }
	.xl\:mb-2 { margin-bottom: 0.5rem; }
	.xl\:ml-2 { margin-left: 0.5rem; }
	.xl\:mt-3 { margin-top: 0.75rem; }
	.xl\:mr-3 { margin-right: 0.75rem; }
	.xl\:mb-3 { margin-bottom: 0.75rem; }
	.xl\:ml-3 { margin-left: 0.75rem; }
	.xl\:mt-4 { margin-top: 1rem; }
	.xl\:mr-4 { margin-right: 1rem; }
	.xl\:mb-4 { margin-bottom: 1rem; }
	.xl\:ml-4 { margin-left: 1rem; }
	.xl\:mt-5 { margin-top: 1.25rem; }
	.xl\:mr-5 { margin-right: 1.25rem; }
	.xl\:mb-5 { margin-bottom: 1.25rem; }
	.xl\:ml-5 { margin-left: 1.25rem; }
	.xl\:mt-6 { margin-top: 1.5rem; }
	.xl\:mr-6 { margin-right: 1.5rem; }
	.xl\:mb-6 { margin-bottom: 1.5rem; }
	.xl\:ml-6 { margin-left: 1.5rem; }
	.xl\:mt-8 { margin-top: 2rem; }
	.xl\:mr-8 { margin-right: 2rem; }
	.xl\:mb-8 { margin-bottom: 2rem; }
	.xl\:ml-8 { margin-left: 2rem; }
	.xl\:mt-10 { margin-top: 2.5rem; }
	.xl\:mr-10 { margin-right: 2.5rem; }
	.xl\:mb-10 { margin-bottom: 2.5rem; }
	.xl\:ml-10 { margin-left: 2.5rem; }
	.xl\:mt-12 { margin-top: 3rem; }
	.xl\:mr-12 { margin-right: 3rem; }
	.xl\:mb-12 { margin-bottom: 3rem; }
	.xl\:ml-12 { margin-left: 3rem; }
	.xl\:mt-16 { margin-top: 4rem; }
	.xl\:mr-16 { margin-right: 4rem; }
	.xl\:mb-16 { margin-bottom: 4rem; }
	.xl\:ml-16 { margin-left: 4rem; }
	.xl\:mt-20 { margin-top: 5rem; }
	.xl\:mr-20 { margin-right: 5rem; }
	.xl\:mb-20 { margin-bottom: 5rem; }
	.xl\:ml-20 { margin-left: 5rem; }
	.xl\:mt-24 { margin-top: 6rem; }
	.xl\:mr-24 { margin-right: 6rem; }
	.xl\:mb-24 { margin-bottom: 6rem; }
	.xl\:ml-24 { margin-left: 6rem; }
	.xl\:mt-32 { margin-top: 8rem; }
	.xl\:mr-32 { margin-right: 8rem; }
	.xl\:mb-32 { margin-bottom: 8rem; }
	.xl\:ml-32 { margin-left: 8rem; }
	.xl\:mt-40 { margin-top: 10rem; }
	.xl\:mr-40 { margin-right: 10rem; }
	.xl\:mb-40 { margin-bottom: 10rem; }
	.xl\:ml-40 { margin-left: 10rem; }
	.xl\:mt-48 { margin-top: 12rem; }
	.xl\:mr-48 { margin-right: 12rem; }
	.xl\:mb-48 { margin-bottom: 12rem; }
	.xl\:ml-48 { margin-left: 12rem; }
	.xl\:mt-56 { margin-top: 14rem; }
	.xl\:mr-56 { margin-right: 14rem; }
	.xl\:mb-56 { margin-bottom: 14rem; }
	.xl\:ml-56 { margin-left: 14rem; }
	.xl\:mt-64 { margin-top: 16rem; }
	.xl\:mr-64 { margin-right: 16rem; }
	.xl\:mb-64 { margin-bottom: 16rem; }
	.xl\:ml-64 { margin-left: 16rem; }
	.xl\:mt-auto { margin-top: auto; }
	.xl\:mr-auto { margin-right: auto; }
	.xl\:mb-auto { margin-bottom: auto; }
	.xl\:ml-auto { margin-left: auto; }
	.xl\:mt-px { margin-top: 1px; }
	.xl\:mr-px { margin-right: 1px; }
	.xl\:mb-px { margin-bottom: 1px; }
	.xl\:ml-px { margin-left: 1px; }
	.xl\:-mt-1 { margin-top: -0.25rem; }  
	.xl\:-mr-1 { margin-right: -0.25rem; }  
	.xl\:-mb-1 { margin-bottom: -0.25rem; }  
	.xl\:-ml-1 { margin-left: -0.25rem; }  
	.xl\:-mt-2 { margin-top: -0.5rem; }  
	.xl\:-mr-2 { margin-right: -0.5rem; }  
	.xl\:-mb-2 { margin-bottom: -0.5rem; }  
	.xl\:-ml-2 { margin-left: -0.5rem; }  
	.xl\:-mt-3 { margin-top: -0.75rem; }  
	.xl\:-mr-3 { margin-right: -0.75rem; }  
	.xl\:-mb-3 { margin-bottom: -0.75rem; }  
	.xl\:-ml-3 { margin-left: -0.75rem; }  
	.xl\:-mt-4 { margin-top: -1rem; }
	.xl\:-mr-4 { margin-right: -1rem; }
	.xl\:-mb-4 { margin-bottom: -1rem; }
	.xl\:-ml-4 { margin-left: -1rem; }
	.xl\:-mt-5 { margin-top: -1.25rem; }
	.xl\:-mr-5 { margin-right: -1.25rem; }
	.xl\:-mb-5 { margin-bottom: -1.25rem; }
	.xl\:-ml-5 { margin-left: -1.25rem; }
	.xl\:-mt-6 { margin-top: -1.5rem; }
	.xl\:-mr-6 { margin-right: -1.5rem; }
	.xl\:-mb-6 { margin-bottom: -1.5rem; }
	.xl\:-ml-6 { margin-left: -1.5rem; }
	.xl\:-mt-8 { margin-top: -2rem; }
	.xl\:-mr-8 { margin-right: -2rem; }
	.xl\:-mb-8 { margin-bottom: -2rem; }
	.xl\:-ml-8 { margin-left: -2rem; }
	.xl\:-mt-10 { margin-top: -2.5rem; }
	.xl\:-mr-10 { margin-right: -2.5rem; }
	.xl\:-mb-10 { margin-bottom: -2.5rem; }
	.xl\:-ml-10 { margin-left: -2.5rem; }
	.xl\:-mt-12 { margin-top: -3rem; }
	.xl\:-mr-12 { margin-right: -3rem; }  
	.xl\:-mb-12 { margin-bottom: -3rem; } 
	.xl\:-ml-12 { margin-left: -3rem; }
	.xl\:-mt-16 { margin-top: -4rem; }
	.xl\:-mr-16 { margin-right: -4rem; }
	.xl\:-mb-16 { margin-bottom: -4rem; }
	.xl\:-ml-16 { margin-left: -4rem; }
	.xl\:-mt-20 { margin-top: -5rem; }
	.xl\:-mr-20 { margin-right: -5rem; }
	.xl\:-mb-20 { margin-bottom: -5rem; }
	.xl\:-ml-20 { margin-left: -5rem; }
	.xl\:-mt-24 { margin-top: -6rem; }
	.xl\:-mr-24 { margin-right: -6rem; }
	.xl\:-mb-24 { margin-bottom: -6rem; }
	.xl\:-ml-24 { margin-left: -6rem; }
	.xl\:-mt-32 { margin-top: -8rem; }
	.xl\:-mr-32 { margin-right: -8rem; }
	.xl\:-mb-32 { margin-bottom: -8rem; }
	.xl\:-ml-32 { margin-left: -8rem; } 
	.xl\:-mt-40 { margin-top: -10rem; }
	.xl\:-mr-40 { margin-right: -10rem; }
	.xl\:-mb-40 { margin-bottom: -10rem; }
	.xl\:-ml-40 { margin-left: -10rem; }
	.xl\:-mt-48 { margin-top: -12rem; }
	.xl\:-mr-48 { margin-right: -12rem; }
	.xl\:-mb-48 { margin-bottom: -12rem; }
	.xl\:-ml-48 { margin-left: -12rem; }
	.xl\:-mt-56 { margin-top: -14rem; }
	.xl\:-mr-56 { margin-right: -14rem; }
	.xl\:-mb-56 { margin-bottom: -14rem; }
	.xl\:-ml-56 { margin-left: -14rem; }
	.xl\:-mt-64 { margin-top: -16rem; }
	.xl\:-mr-64 { margin-right: -16rem; }
	.xl\:-mb-64 { margin-bottom: -16rem; }
	.xl\:-ml-64 { margin-left: -16rem; }
	.xl\:-mt-px { margin-top: -1px; }
	.xl\:-mr-px { margin-right: -1px; }
	.xl\:-mb-px { margin-bottom: -1px; }
	.xl\:-ml-px { margin-left: -1px; }
}