.transition-xs  { transition: all ease-in-out 100ms $transition-delay; }
.transition-sm  { transition: all ease-in-out 200ms $transition-delay; }
.transition     { transition: all ease-in-out 300ms $transition-delay; }
.transition-lg  { transition: all ease-in-out 400ms $transition-delay; }
.transition-xl  { transition: all ease-in-out 500ms $transition-delay; }

.animated-zoom { -webkit-animation: move 20s alternate infinite; animation: move 20s alternate infinite; position: relative; transform-origin: 0% 0% 0px; }
@keyframes move { 0% { transform: scale(1.1); } 100% { transform: scale(1.0); } }

.fill-transparent	{ fill: transparent; }
.fill-brand-1		{ fill: $brand-1; }
.fill-brand-2		{ fill: $brand-2; }
.fill-brand-3		{ fill: $brand-3; }
.fill-brand-4		{ fill: $brand-4; }
.fill-brand-5		{ fill: $brand-5; }
.fill-black			{ fill: $black; }
.fill-white			{ fill: $white; }
.fill-gray-100		{ fill: $gray-100; }
.fill-gray-200		{ fill: $gray-200; }
.fill-gray-300		{ fill: $gray-300; }
.fill-gray-400		{ fill: $gray-400; }
.fill-gray-500		{ fill: $gray-500; }
.fill-gray-600		{ fill: $gray-600; }
.fill-gray-700		{ fill: $gray-700; }
.fill-gray-800		{ fill: $gray-800; }
.fill-gray-900		{ fill: $gray-900; }

.hover\:fill-transparent:hover	{ fill: transparent; }
.hover\:fill-brand-1:hover		{ fill: $brand-1; }
.hover\:fill-brand-2:hover		{ fill: $brand-2; }
.hover\:fill-brand-3:hover		{ fill: $brand-3; }
.hover\:fill-brand-4:hover		{ fill: $brand-4; }
.hover\:fill-brand-5:hover		{ fill: $brand-5; }
.hover\:fill-black:hover		{ fill: $black; }
.hover\:fill-white:hover		{ fill: $white; }
.hover\:fill-gray-100:hover		{ fill: $gray-100; }
.hover\:fill-gray-200:hover		{ fill: $gray-200; }
.hover\:fill-gray-300:hover		{ fill: $gray-300; }
.hover\:fill-gray-400:hover		{ fill: $gray-400; }
.hover\:fill-gray-500:hover		{ fill: $gray-500; }
.hover\:fill-gray-600:hover		{ fill: $gray-600; }
.hover\:fill-gray-700:hover		{ fill: $gray-700; }
.hover\:fill-gray-800:hover		{ fill: $gray-800; }
.hover\:fill-gray-900:hover		{ fill: $gray-900; }

.stroke-transparent	{ stroke: transparent; }
.stroke-brand-1		{ stroke: $brand-1; }
.stroke-brand-2		{ stroke: $brand-2; }
.stroke-brand-3		{ stroke: $brand-3; }
.stroke-brand-4		{ stroke: $brand-4; }
.stroke-brand-5		{ stroke: $brand-5; }
.stroke-black		{ stroke: $black; }
.stroke-white		{ stroke: $white; }
.stroke-gray-100	{ stroke: $gray-100; }
.stroke-gray-200	{ stroke: $gray-200; }
.stroke-gray-300	{ stroke: $gray-300; }
.stroke-gray-400	{ stroke: $gray-400; }
.stroke-gray-500	{ stroke: $gray-500; }
.stroke-gray-600	{ stroke: $gray-600; }
.stroke-gray-700	{ stroke: $gray-700; }
.stroke-gray-800	{ stroke: $gray-800; }
.stroke-gray-900	{ stroke: $gray-900; }

.cursor-auto		{ cursor: auto; }
.cursor-default		{ cursor: default; }
.cursor-pointer		{ cursor: pointer; }
.cursor-wait		{ cursor: wait; }
.cursor-text		{ cursor: text; }
.cursor-move		{ cursor: move; }
.cursor-not-allowed	{ cursor: not-allowed; }

.outline-none				{ outline: 0; }
.focus\:outline-none:focus	{ outline: 0; }

.overflow-auto		{ overflow: auto; }
.overflow-hidden	{ overflow: hidden; }
.overflow-visible	{ overflow: visible; }
.overflow-scroll	{ overflow: scroll; }
.overflow-x-auto	{ overflow-x: auto; }
.overflow-y-auto	{ overflow-y: auto; }
.overflow-x-hidden	{ overflow-x: hidden; }
.overflow-y-hidden	{ overflow-y: hidden; }
.overflow-x-visible { overflow-x: visible; }
.overflow-y-visible	{ overflow-y: visible; }
.overflow-x-scroll	{ overflow-x: scroll; }
.overflow-y-scroll	{ overflow-y: scroll; }
.scrolling-touch	{ -webkit-overflow-scrolling: touch; }
.scrolling-auto		{ -webkit-overflow-scrolling: auto; }

@media (min-width: 640px) {
	.sm\:overflow-auto		{ overflow: auto; }
	.sm\:overflow-hidden	{ overflow: hidden; }
	.sm\:overflow-visible	{ overflow: visible; }
	.sm\:overflow-scroll	{ overflow: scroll; }
	.sm\:overflow-x-auto	{ overflow-x: auto; }
	.sm\:overflow-y-auto	{ overflow-y: auto; }
	.sm\:overflow-x-hidden	{ overflow-x: hidden; }
	.sm\:overflow-y-hidden	{ overflow-y: hidden; }
	.sm\:overflow-x-visible	{ overflow-x: visible; }
	.sm\:overflow-y-visible	{ overflow-y: visible; }
	.sm\:overflow-x-scroll	{ overflow-x: scroll; }
	.sm\:overflow-y-scroll	{ overflow-y: scroll; }
	.sm\:scrolling-touch	{ -webkit-overflow-scrolling: touch; }
	.sm\:scrolling-auto		{ -webkit-overflow-scrolling: auto; }
}
@media (min-width: 768px) {
	.md\:overflow-auto		{ overflow: auto; }
	.md\:overflow-hidden	{ overflow: hidden; }
	.md\:overflow-visible	{ overflow: visible; }
	.md\:overflow-scroll	{ overflow: scroll; }
	.md\:overflow-x-auto	{ overflow-x: auto; }
	.md\:overflow-y-auto	{ overflow-y: auto; }
	.md\:overflow-x-hidden	{ overflow-x: hidden; }
	.md\:overflow-y-hidden	{ overflow-y: hidden; }
	.md\:overflow-x-visible	{ overflow-x: visible; }
	.md\:overflow-y-visible	{ overflow-y: visible; }
	.md\:overflow-x-scroll	{ overflow-x: scroll; }
	.md\:overflow-y-scroll	{ overflow-y: scroll; }
	.md\:scrolling-touch	{ -webkit-overflow-scrolling: touch; }
	.md\:scrolling-auto		{ -webkit-overflow-scrolling: auto; }
}
@media (min-width: 1024px) {
	.lg\:overflow-auto		{ overflow: auto; }
	.lg\:overflow-hidden	{ overflow: hidden; }
	.lg\:overflow-visible	{ overflow: visible; }
	.lg\:overflow-scroll	{ overflow: scroll; }
	.lg\:overflow-x-auto	{ overflow-x: auto; }
	.lg\:overflow-y-auto	{ overflow-y: auto; }
	.lg\:overflow-x-hidden	{ overflow-x: hidden; }
	.lg\:overflow-y-hidden	{ overflow-y: hidden; }
	.lg\:overflow-x-visible	{ overflow-x: visible; }
	.lg\:overflow-y-visible	{ overflow-y: visible; }
	.lg\:overflow-x-scroll	{ overflow-x: scroll; }
	.lg\:overflow-y-scroll	{ overflow-y: scroll; }
	.lg\:scrolling-touch	{ -webkit-overflow-scrolling: touch; }
	.lg\:scrolling-auto		{ -webkit-overflow-scrolling: auto; }
}
@media (min-width: 1280px) {
	.xl\:overflow-auto		{ overflow: auto; }
	.xl\:overflow-hidden	{ overflow: hidden; }
	.xl\:overflow-visible	{ overflow: visible; }
	.xl\:overflow-scroll	{ overflow: scroll; }
	.xl\:overflow-x-auto	{ overflow-x: auto; }
	.xl\:overflow-y-auto	{ overflow-y: auto; }
	.xl\:overflow-x-hidden	{ overflow-x: hidden; }
	.xl\:overflow-y-hidden	{ overflow-y: hidden; }
	.xl\:overflow-x-visible	{ overflow-x: visible; }
	.xl\:overflow-y-visible	{ overflow-y: visible; }
	.xl\:overflow-x-scroll	{ overflow-x: scroll; }
	.xl\:overflow-y-scroll	{ overflow-y: scroll; }
	.xl\:scrolling-touch	{ -webkit-overflow-scrolling: touch; }
	.xl\:scrolling-auto		{ -webkit-overflow-scrolling: auto; }
}