.opacity-0		{ opacity: 0; }
.opacity-10		{ opacity: 0.1; }
.opacity-20		{ opacity: 0.2; }
.opacity-30		{ opacity: 0.3; }
.opacity-40		{ opacity: 0.4; }
.opacity-50		{ opacity: 0.5; }
.opacity-60		{ opacity: 0.6; }
.opacity-70		{ opacity: 0.7; }
.opacity-80		{ opacity: 0.8; }
.opacity-90		{ opacity: 0.9; }
.opacity-100	{ opacity: 1; }

.hover\:opacity-0:hover		{ opacity: 0; }
.hover\:opacity-10:hover	{ opacity: 0.1; }
.hover\:opacity-20:hover	{ opacity: 0.2; }
.hover\:opacity-30:hover	{ opacity: 0.3; }
.hover\:opacity-40:hover	{ opacity: 0.4; }
.hover\:opacity-50:hover	{ opacity: 0.5; }
.hover\:opacity-60:hover	{ opacity: 0.6; }
.hover\:opacity-70:hover	{ opacity: 0.7; }
.hover\:opacity-80:hover	{ opacity: 0.8; }
.hover\:opacity-90:hover	{ opacity: 0.9; }
.hover\:opacity-100:hover	{ opacity: 1; }

.blend-normal		{ mix-blend-mode: normal; }
.blend-multiply		{ mix-blend-mode: multiply; }
.blend-screen		{ mix-blend-mode: screen; }
.blend-overlay		{ mix-blend-mode: overlay; }
.blend-darken		{ mix-blend-mode: darken; }
.blend-lighten		{ mix-blend-mode: lighten; }
.blend-color-dodge	{ mix-blend-mode: color-dodge; }
.blend-color-burn	{ mix-blend-mode: color-burn; }
.blend-hard-light	{ mix-blend-mode: hard-light; }
.blend-soft-light	{ mix-blend-mode: soft-light; }
.blend-difference	{ mix-blend-mode: difference; }
.blend-exclusion	{ mix-blend-mode: exclusion; }
.blend-hue			{ mix-blend-mode: hue; }
.blend-saturation	{ mix-blend-mode: saturation; }
.blend-color		{ mix-blend-mode: color; }
.blend-luminosity	{ mix-blend-mode: luminosity; }

.hover\:blend-normal:hover		{ mix-blend-mode: normal; }
.hover\:blend-multiply:hover	{ mix-blend-mode: multiply; }
.hover\:blend-screen:hover		{ mix-blend-mode: screen; }
.hover\:blend-overlay:hover		{ mix-blend-mode: overlay; }
.hover\:blend-darken:hover		{ mix-blend-mode: darken; }
.hover\:blend-lighten:hover		{ mix-blend-mode: lighten; }
.hover\:blend-color-dodge:hover	{ mix-blend-mode: color-dodge; }
.hover\:blend-color-burn:hover	{ mix-blend-mode: color-burn; }
.hover\:blend-hard-light:hover	{ mix-blend-mode: hard-light; }
.hover\:blend-soft-light:hover	{ mix-blend-mode: soft-light; }
.hover\:blend-difference:hover	{ mix-blend-mode: difference; }
.hover\:blend-exclusion:hover	{ mix-blend-mode: exclusion; }
.hover\:blend-hue:hover			{ mix-blend-mode: hue; }
.hover\:blend-saturation:hover	{ mix-blend-mode: saturation; }
.hover\:blend-color:hover		{ mix-blend-mode: color; }
.hover\:blend-luminosity:hover	{ mix-blend-mode: luminosity; }

.bg-blend-normal		{ background-blend-mode: normal; }
.bg-blend-multiply		{ background-blend-mode: multiply; }
.bg-blend-screen		{ background-blend-mode: screen; }
.bg-blend-overlay		{ background-blend-mode: overlay; }
.bg-blend-darken		{ background-blend-mode: darken; }
.bg-blend-lighten		{ background-blend-mode: lighten; }
.bg-blend-color-dodge	{ background-blend-mode: color-dodge; }
.bg-blend-color-burn	{ background-blend-mode: color-burn; }
.bg-blend-hard-light	{ background-blend-mode: hard-light; }
.bg-blend-soft-light	{ background-blend-mode: soft-light; }
.bg-blend-difference	{ background-blend-mode: difference; }
.bg-blend-exclusion		{ background-blend-mode: exclusion; }
.bg-blend-hue			{ background-blend-mode: hue; }
.bg-blend-saturation	{ background-blend-mode: saturation; }
.bg-blend-color			{ background-blend-mode: color; }
.bg-blend-luminosity	{ background-blend-mode: luminosity; }

.hover\:bg-blend-normal:hover		{ background-blend-mode: normal; }
.hover\:bg-blend-multiply:hover		{ background-blend-mode: multiply; }
.hover\:bg-blend-screen:hover		{ background-blend-mode: screen; }
.hover\:bg-blend-overlay:hover		{ background-blend-mode: overlay; }
.hover\:bg-blend-darken:hover		{ background-blend-mode: darken; }
.hover\:bg-blend-lighten			{ background-blend-mode: lighten; }
.hover\:bg-blend-color-dodge:hover	{ background-blend-mode: color-dodge; }
.hover\:bg-blend-color-burn:hover	{ background-blend-mode: color-burn; }
.hover\:bg-blend-hard-light:hover	{ background-blend-mode: hard-light; }
.hover\:bg-blend-soft-light:hover	{ background-blend-mode: soft-light; }
.hover\:bg-blend-difference:hover	{ background-blend-mode: difference; }
.hover\:bg-blend-exclusion:hover	{ background-blend-mode: exclusion; }
.hover\:bg-blend-hue:hover			{ background-blend-mode: hue; }
.hover\:bg-blend-saturation:hover	{ background-blend-mode: saturation; }
.hover\:bg-blend-color:hover		{ background-blend-mode: color; }
.hover\:bg-blend-luminosity:hover	{ background-blend-mode: luminosity; }

.isolation-isolate	{ isolation: isolate; }
.isolation-auto		{ isolation: auto; }

@media (min-width: 640px) {
	.sm\:opacity-0		{ opacity: 0; }
	.sm\:opacity-10		{ opacity: 0.1; }
	.sm\:opacity-20		{ opacity: 0.2; }
	.sm\:opacity-30		{ opacity: 0.3; }
	.sm\:opacity-40		{ opacity: 0.4; }
	.sm\:opacity-50		{ opacity: 0.5; }
	.sm\:opacity-60		{ opacity: 0.6; }
	.sm\:opacity-70		{ opacity: 0.7; }
	.sm\:opacity-80		{ opacity: 0.8; }
	.sm\:opacity-90		{ opacity: 0.9; }
	.sm\:opacity-100	{ opacity: 1; }
}
@media (min-width: 768px) {
	.md\:opacity-0		{ opacity: 0; }
	.md\:opacity-10		{ opacity: 0.1; }
	.md\:opacity-20		{ opacity: 0.2; }
	.md\:opacity-30		{ opacity: 0.3; }
	.md\:opacity-40		{ opacity: 0.4; }
	.md\:opacity-50		{ opacity: 0.5; }
	.md\:opacity-60		{ opacity: 0.6; }
	.md\:opacity-70		{ opacity: 0.7; }
	.md\:opacity-80		{ opacity: 0.8; }
	.md\:opacity-90		{ opacity: 0.9; }
	.md\:opacity-100	{ opacity: 1; }
}	
@media (min-width: 1024px) {
	.lg\:opacity-0		{ opacity: 0; }
	.lg\:opacity-10		{ opacity: 0.1; }
	.lg\:opacity-20		{ opacity: 0.2; }
	.lg\:opacity-30		{ opacity: 0.3; }
	.lg\:opacity-40		{ opacity: 0.4; }
	.lg\:opacity-50		{ opacity: 0.5; }
	.lg\:opacity-60		{ opacity: 0.6; }
	.lg\:opacity-70		{ opacity: 0.7; }
	.lg\:opacity-80		{ opacity: 0.8; }
	.lg\:opacity-90		{ opacity: 0.9; }
	.lg\:opacity-100	{ opacity: 1; }
}	
@media (min-width: 1280px) {
	.xl\:opacity-0		{ opacity: 0; }
	.xl\:opacity-10		{ opacity: 0.1; }
	.xl\:opacity-20		{ opacity: 0.2; }
	.xl\:opacity-30		{ opacity: 0.3; }
	.xl\:opacity-40		{ opacity: 0.4; }
	.xl\:opacity-50		{ opacity: 0.5; }
	.xl\:opacity-60		{ opacity: 0.6; }
	.xl\:opacity-70		{ opacity: 0.7; }
	.xl\:opacity-80		{ opacity: 0.8; }
	.xl\:opacity-90		{ opacity: 0.9; }
	.xl\:opacity-100	{ opacity: 1; }
}