.static		{ position: static; }
.fixed		{ position: fixed; }
.absolute	{ position: absolute; }
.relative	{ position: relative; }
.sticky		{ position: -webkit-sticky; position: sticky; }

.top-0			{ top: 0; }
.right-0		{ right: 0; }
.bottom-0		{ bottom: 0; }
.left-0			{ left: 0; }
.top-auto		{ top: auto; }
.right-auto		{ right: auto; }
.bottom-auto	{ bottom: auto; }
.left-auto		{ left: auto; }

.-z-999	{ z-index: -999; }
.-z-2	{ z-index: -2; }
.-z-1	{ z-index: -1; }
.z-0	{ z-index: 0; }
.z-1	{ z-index: 1; }
.z-2	{ z-index: 2; }
.z-999	{ z-index: 999; }
.z-auto	{ z-index: auto; }

.inset-0		{ top: 0; right: 0; bottom: 0; left: 0; }
.inset-auto		{ top: auto; right: auto; bottom: auto; left: auto; }
.inset-y-0		{ top: 0; bottom: 0; }
.inset-x-0		{ right: 0; left: 0; }
.inset-y-auto	{ top: auto; bottom: auto; }
.inset-x-auto	{ right: auto; left: auto; }

.object-contain			{ -o-object-fit: contain; object-fit: contain; }
.object-cover			{ -o-object-fit: cover; object-fit: cover; }
.object-fill			{ -o-object-fit: fill; object-fit: fill; }
.object-none			{ -o-object-fit: none; object-fit: none; }
.object-scale-down		{ -o-object-fit: scale-down; object-fit: scale-down; }
.object-bottom			{ -o-object-position: bottom; object-position: bottom; }
.object-center			{ -o-object-position: center; object-position: center; }
.object-left			{ -o-object-position: left; object-position: left; }
.object-left-bottom		{ -o-object-position: left bottom; object-position: left bottom; }
.object-left-top		{ -o-object-position: left top; object-position: left top; }
.object-right			{ -o-object-position: right; object-position: right; }
.object-right-bottom	{ -o-object-position: right bottom; object-position: right bottom; }
.object-right-top		{ -o-object-position: right top; object-position: right top; }
.object-top				{ -o-object-position: top; object-position: top; }

@media (min-width: 640px) {
	.sm\:static		{ position: static; }
	.sm\:fixed		{ position: fixed; }
	.sm\:absolute	{ position: absolute; }
	.sm\:relative	{ position: relative; }
	.sm\:sticky		{ position: -webkit-sticky; position: sticky; }
	.sm\:top-0			{ top: 0; }
	.sm\:right-0		{ right: 0; }
	.sm\:bottom-0		{ bottom: 0; }
	.sm\:left-0			{ left: 0; }
	.sm\:top-auto		{ top: auto; }
	.sm\:right-auto		{ right: auto; }
	.sm\:bottom-auto	{ bottom: auto; }
	.sm\:left-auto		{ left: auto; }
	.sm\:z-0	{ z-index: 0; }
	.sm\:z-10	{ z-index: 10; }
	.sm\:z-20	{ z-index: 20; }
	.sm\:z-30	{ z-index: 30; }
	.sm\:z-40	{ z-index: 40; }
	.sm\:z-50	{ z-index: 50; }
	.sm\:z-auto	{ z-index: auto; }
}
@media (min-width: 768px) {
	.md\:static		{ position: static; }
	.md\:fixed		{ position: fixed; }
	.md\:absolute	{ position: absolute; }
	.md\:relative	{ position: relative; }
	.md\:sticky		{ position: -webkit-sticky; position: sticky; }
	.md\:top-0			{ top: 0; }
	.md\:right-0		{ right: 0; }
	.md\:bottom-0		{ bottom: 0; }
	.md\:left-0			{ left: 0; }
	.md\:top-auto		{ top: auto; }
	.md\:right-auto		{ right: auto; }
	.md\:bottom-auto	{ bottom: auto; }
	.md\:left-auto		{ left: auto; }
	.md\:z-0	{ z-index: 0; }
	.md\:z-10	{ z-index: 10; }
	.md\:z-20	{ z-index: 20; }
	.md\:z-30	{ z-index: 30; }
	.md\:z-40	{ z-index: 40; }
	.md\:z-50	{ z-index: 50; }
	.md\:z-auto	{ z-index: auto; }
}
@media (min-width: 1024px) {
	.lg\:static		{ position: static; }
	.lg\:fixed		{ position: fixed; }
	.lg\:absolute	{ position: absolute; }
	.lg\:relative	{ position: relative; }
	.lg\:sticky		{ position: -webkit-sticky; position: sticky; }	
	.lg\:top-0			{ top: 0; }
	.lg\:right-0		{ right: 0; }
	.lg\:bottom-0		{ bottom: 0; }
	.lg\:left-0			{ left: 0; }
	.lg\:top-auto		{ top: auto; }
	.lg\:right-auto		{ right: auto; }
	.lg\:bottom-auto	{ bottom: auto; }
	.lg\:left-auto		{ left: auto; }
	.lg\:z-0	{ z-index: 0; }
	.lg\:z-10	{ z-index: 10; }
	.lg\:z-20	{ z-index: 20; }
	.lg\:z-30	{ z-index: 30; }
	.lg\:z-40	{ z-index: 40; }
	.lg\:z-50	{ z-index: 50; }
	.lg\:z-auto	{ z-index: auto; }
}
@media (min-width: 1280px) {
	.xl\:static		{ position: static; }
	.xl\:fixed		{ position: fixed; }
	.xl\:absolute	{ position: absolute; }
	.xl\:relative	{ position: relative; }
	.xl\:sticky		{ position: -webkit-sticky; position: sticky; }
	.xl\:top-0			{ top: 0; }
	.xl\:right-0		{ right: 0; }
	.xl\:bottom-0		{ bottom: 0; }
	.xl\:left-0			{ left: 0; }
	.xl\:top-auto		{ top: auto; }
	.xl\:right-auto		{ right: auto; }
	.xl\:bottom-auto	{ bottom: auto; }
	.xl\:left-auto		{ left: auto; }
	.xl\:z-0	{ z-index: 0; }
	.xl\:z-10	{ z-index: 10; }
	.xl\:z-20	{ z-index: 20; }
	.xl\:z-30	{ z-index: 30; }
	.xl\:z-40	{ z-index: 40; }
	.xl\:z-50	{ z-index: 50; }
	.xl\:z-auto	{ z-index: auto; }
}