.flex-row			{ flex-direction: row; }
.flex-row-reverse	{ flex-direction: row-reverse; }
.flex-col			{ flex-direction: column; }
.flex-col-reverse	{ flex-direction: column-reverse; }
.flex-wrap			{ flex-wrap: wrap; }
.flex-wrap-reverse	{ flex-wrap: wrap-reverse; }
.flex-no-wrap		{ flex-wrap: nowrap; }

.items-start		{ align-items: flex-start; }
.items-end			{ align-items: flex-end; }
.items-center		{ align-items: center; }
.items-baseline		{ align-items: baseline; }
.items-stretch		{ align-items: stretch; }
.self-auto			{ align-self: auto; }
.self-start			{ align-self: flex-start; }
.self-end			{ align-self: flex-end; }
.self-center		{ align-self: center; }
.self-stretch		{ align-self: stretch; }
.justify-start		{ justify-content: flex-start; }
.justify-end		{ justify-content: flex-end; }
.justify-center		{ justify-content: center; }
.justify-between	{ justify-content: space-between; }
.justify-around		{ justify-content: space-around; }
.content-center		{ align-content: center; }
.content-start		{ align-content: flex-start; }
.content-end		{ align-content: flex-end; }
.content-between	{ align-content: space-between; }
.content-around		{ align-content: space-around; }

.flex-1			{ flex: 1 1 0%; }
.flex-auto		{ flex: 1 1 auto; }
.flex-initial	{ flex: 0 1 auto; }
.flex-none		{ flex: none; }
.flex-grow-0	{ flex-grow: 0; }
.flex-grow		{ flex-grow: 1; }
.flex-shrink-0	{ flex-shrink: 0; }
.flex-shrink	{ flex-shrink: 1; }
.order-1		{ order: 1;}
.order-2		{ order: 2; }
.order-3		{ order: 3; }
.order-4		{ order: 4; }
.order-5		{ order: 5; }
.order-6		{ order: 6; }
.order-7		{ order: 7; }
.order-8		{ order: 8; }
.order-9		{ order: 9; }
.order-10		{ order: 10; }
.order-11		{ order: 11; }
.order-12		{ order: 12; }
.order-first	{ order: -9999; }
.order-last		{ order: 9999; }
.order-none		{ order: 0; }

.float-right	{ float: right; }
.float-left		{ float: left; }
.float-none		{ float: none; }
.clearfix:after { content: ""; display: table; clear: both; }

.align-baseline	{ vertical-align: baseline; }
.align-top		{ vertical-align: top; }
.align-middle	{ vertical-align: middle; }
.align-bottom	{ vertical-align: bottom; }

@media (min-width: 640px) {
	.sm\:flex-row			{ flex-direction: row; }
	.sm\:flex-row-reverse	{ flex-direction: row-reverse; }
	.sm\:flex-col			{ flex-direction: column; }
	.sm\:flex-col-reverse	{ flex-direction: column-reverse; }
	.sm\:flex-wrap			{ flex-wrap: wrap; }
	.sm\:flex-wrap-reverse	{ flex-wrap: wrap-reverse; }
	.sm\:flex-no-wrap		{ flex-wrap: nowrap; }
	.sm\:items-start		{ align-items: flex-start; }
	.sm\:items-end			{ align-items: flex-end; }
	.sm\:items-center		{ align-items: center; }
	.sm\:items-baseline		{ align-items: baseline; }
	.sm\:items-stretch		{ align-items: stretch; }
	.sm\:self-auto			{ align-self: auto; }
	.sm\:self-start			{ align-self: flex-start; }
	.sm\:self-end			{ align-self: flex-end; }
	.sm\:self-center		{ align-self: center; }
	.sm\:self-stretch		{ align-self: stretch; }
	.sm\:justify-start		{ justify-content: flex-start; }
	.sm\:justify-end		{ justify-content: flex-end; }
	.sm\:justify-center		{ justify-content: center; }
	.sm\:justify-between	{ justify-content: space-between; }
	.sm\:justify-around		{ justify-content: space-around; }
	.sm\:content-center		{ align-content: center; }
	.sm\:content-start		{ align-content: flex-start; }
	.sm\:content-end		{ align-content: flex-end; }
	.sm\:content-between	{ align-content: space-between; }
	.sm\:content-around		{ align-content: space-around; }
	.sm\:flex-1			{ flex: 1 1 0%; }
	.sm\:flex-auto		{ flex: 1 1 auto; }
	.sm\:flex-initial	{ flex: 0 1 auto; }
	.sm\:flex-none		{ flex: none; }
	.sm\:flex-grow-0	{ flex-grow: 0; }
	.sm\:flex-grow		{ flex-grow: 1; }
	.sm\:flex-shrink-0	{ flex-shrink: 0; }
	.sm\:flex-shrink	{ flex-shrink: 1; }
	.sm\:order-1		{ order: 1;}
	.sm\:order-2		{ order: 2; }
	.sm\:order-3		{ order: 3; }
	.sm\:order-4		{ order: 4; }
	.sm\:order-5		{ order: 5; }
	.sm\:order-6		{ order: 6; }
	.sm\:order-7		{ order: 7; }
	.sm\:order-8		{ order: 8; }
	.sm\:order-9		{ order: 9; }
	.sm\:order-10		{ order: 10; }
	.sm\:order-11		{ order: 11; }
	.sm\:order-12		{ order: 12; }
	.sm\:order-first	{ order: -9999; }
	.sm\:order-last		{ order: 9999; }
	.sm\:order-none		{ order: 0; }
	.sm\:float-right	{ float: right; }
	.sm\:float-left		{ float: left; }
	.sm\:float-none		{ float: none; }
	.sm\:clearfix:after { content: ""; display: table; clear: both; }
	.sm\:align-baseline	{ vertical-align: baseline; }
	.sm\:align-top		{ vertical-align: top; }
	.sm\:align-middle	{ vertical-align: middle; }
	.sm\:align-bottom	{ vertical-align: bottom; }
}
@media (min-width: 768px) {
	.md\:flex-row			{ flex-direction: row; }
	.md\:flex-row-reverse	{ flex-direction: row-reverse; }
	.md\:flex-col			{ flex-direction: column; }
	.md\:flex-col-reverse	{ flex-direction: column-reverse; }
	.md\:flex-wrap			{ flex-wrap: wrap; }
	.md\:flex-wrap-reverse	{ flex-wrap: wrap-reverse; }
	.md\:flex-no-wrap		{ flex-wrap: nowrap; }
	.md\:items-start		{ align-items: flex-start; }
	.md\:items-end			{ align-items: flex-end; }
	.md\:items-center		{ align-items: center; }
	.md\:items-baseline		{ align-items: baseline; }
	.md\:items-stretch		{ align-items: stretch; }
	.md\:self-auto			{ align-self: auto; }
	.md\:self-start			{ align-self: flex-start; }
	.md\:self-end			{ align-self: flex-end; }
	.md\:self-center		{ align-self: center; }
	.md\:self-stretch		{ align-self: stretch; }
	.md\:justify-start		{ justify-content: flex-start; }
	.md\:justify-end		{ justify-content: flex-end; }
	.md\:justify-center		{ justify-content: center; }
	.md\:justify-between	{ justify-content: space-between; }
	.md\:justify-around		{ justify-content: space-around; }
	.md\:content-center		{ align-content: center; }
	.md\:content-start		{ align-content: flex-start; }
	.md\:content-end		{ align-content: flex-end; }
	.md\:content-between	{ align-content: space-between; }
	.md\:content-around		{ align-content: space-around; }
	.md\:flex-1			{ flex: 1 1 0%; }
	.md\:flex-auto		{ flex: 1 1 auto; }
	.md\:flex-initial	{ flex: 0 1 auto; }
	.md\:flex-none		{ flex: none; }
	.md\:flex-grow-0	{ flex-grow: 0; }
	.md\:flex-grow		{ flex-grow: 1; }
	.md\:flex-shrink-0	{ flex-shrink: 0; }
	.md\:flex-shrink	{ flex-shrink: 1; }
	.md\:order-1		{ order: 1;}
	.md\:order-2		{ order: 2; }
	.md\:order-3		{ order: 3; }
	.md\:order-4		{ order: 4; }
	.md\:order-5		{ order: 5; }
	.md\:order-6		{ order: 6; }
	.md\:order-7		{ order: 7; }
	.md\:order-8		{ order: 8; }
	.md\:order-9		{ order: 9; }
	.md\:order-10		{ order: 10; }
	.md\:order-11		{ order: 11; }
	.md\:order-12		{ order: 12; }
	.md\:order-first	{ order: -9999; }
	.md\:order-last		{ order: 9999; }
	.md\:order-none		{ order: 0; }
	.md\:float-right	{ float: right; }
	.md\:float-left		{ float: left; }
	.md\:float-none		{ float: none; }
	.md\:clearfix:after { content: ""; display: table; clear: both; }
	.md\:align-baseline	{ vertical-align: baseline; }
	.md\:align-top		{ vertical-align: top; }
	.md\:align-middle	{ vertical-align: middle; }
	.md\:align-bottom	{ vertical-align: bottom; }
}
@media (min-width: 1024px) {
	.lg\:flex-row			{ flex-direction: row; }
	.lg\:flex-row-reverse	{ flex-direction: row-reverse; }
	.lg\:flex-col			{ flex-direction: column; }
	.lg\:flex-col-reverse	{ flex-direction: column-reverse; }
	.lg\:flex-wrap			{ flex-wrap: wrap; }
	.lg\:flex-wrap-reverse	{ flex-wrap: wrap-reverse; }
	.lg\:flex-no-wrap		{ flex-wrap: nowrap; }
	.lg\:items-start		{ align-items: flex-start; }
	.lg\:items-end			{ align-items: flex-end; }
	.lg\:items-center		{ align-items: center; }
	.lg\:items-baseline		{ align-items: baseline; }
	.lg\:items-stretch		{ align-items: stretch; }
	.lg\:self-auto			{ align-self: auto; }
	.lg\:self-start			{ align-self: flex-start; }
	.lg\:self-end			{ align-self: flex-end; }
	.lg\:self-center		{ align-self: center; }
	.lg\:self-stretch		{ align-self: stretch; }
	.lg\:justify-start		{ justify-content: flex-start; }
	.lg\:justify-end		{ justify-content: flex-end; }
	.lg\:justify-center		{ justify-content: center; }
	.lg\:justify-between	{ justify-content: space-between; }
	.lg\:justify-around		{ justify-content: space-around; }
	.lg\:content-center		{ align-content: center; }
	.lg\:content-start		{ align-content: flex-start; }
	.lg\:content-end		{ align-content: flex-end; }
	.lg\:content-between	{ align-content: space-between; }
	.lg\:content-around		{ align-content: space-around; }
	.lg\:flex-1			{ flex: 1 1 0%; }
	.lg\:flex-auto		{ flex: 1 1 auto; }
	.lg\:flex-initial	{ flex: 0 1 auto; }
	.lg\:flex-none		{ flex: none; }
	.lg\:flex-grow-0	{ flex-grow: 0; }
	.lg\:flex-grow		{ flex-grow: 1; }
	.lg\:flex-shrink-0	{ flex-shrink: 0; }
	.lg\:flex-shrink	{ flex-shrink: 1; }
	.lg\:order-1		{ order: 1;}
	.lg\:order-2		{ order: 2; }
	.lg\:order-3		{ order: 3; }
	.lg\:order-4		{ order: 4; }
	.lg\:order-5		{ order: 5; }
	.lg\:order-6		{ order: 6; }
	.lg\:order-7		{ order: 7; }
	.lg\:order-8		{ order: 8; }
	.lg\:order-9		{ order: 9; }
	.lg\:order-10		{ order: 10; }
	.lg\:order-11		{ order: 11; }
	.lg\:order-12		{ order: 12; }
	.lg\:order-first	{ order: -9999; }
	.lg\:order-last		{ order: 9999; }
	.lg\:order-none		{ order: 0; }
	.lg\:float-right	{ float: right; }
	.lg\:float-left		{ float: left; }
	.lg\:float-none		{ float: none; }
	.lg\:clearfix:after { content: ""; display: table; clear: both; }
	.lg\:align-baseline	{ vertical-align: baseline; }
	.lg\:align-top		{ vertical-align: top; }
	.lg\:align-middle	{ vertical-align: middle; }
	.lg\:align-bottom	{ vertical-align: bottom; }
}
@media (min-width: 1280px) {
	.xl\:flex-row			{ flex-direction: row; }
	.xl\:flex-row-reverse	{ flex-direction: row-reverse; }
	.xl\:flex-col			{ flex-direction: column; }
	.xl\:flex-col-reverse	{ flex-direction: column-reverse; }
	.xl\:flex-wrap			{ flex-wrap: wrap; }
	.xl\:flex-wrap-reverse	{ flex-wrap: wrap-reverse; }
	.xl\:flex-no-wrap		{ flex-wrap: nowrap; }
	.xl\:items-start		{ align-items: flex-start; }
	.xl\:items-end			{ align-items: flex-end; }
	.xl\:items-center		{ align-items: center; }
	.xl\:items-baseline		{ align-items: baseline; }
	.xl\:items-stretch		{ align-items: stretch; }
	.xl\:self-auto			{ align-self: auto; }
	.xl\:self-start			{ align-self: flex-start; }
	.xl\:self-end			{ align-self: flex-end; }
	.xl\:self-center		{ align-self: center; }
	.xl\:self-stretch		{ align-self: stretch; }
	.xl\:justify-start		{ justify-content: flex-start; }
	.xl\:justify-end		{ justify-content: flex-end; }
	.xl\:justify-center		{ justify-content: center; }
	.xl\:justify-between	{ justify-content: space-between; }
	.xl\:justify-around		{ justify-content: space-around; }
	.xl\:content-center		{ align-content: center; }
	.xl\:content-start		{ align-content: flex-start; }
	.xl\:content-end		{ align-content: flex-end; }
	.xl\:content-between	{ align-content: space-between; }
	.xl\:content-around		{ align-content: space-around; }
	.xl\:flex-1			{ flex: 1 1 0%; }
	.xl\:flex-auto		{ flex: 1 1 auto; }
	.xl\:flex-initial	{ flex: 0 1 auto; }
	.xl\:flex-none		{ flex: none; }
	.xl\:flex-grow-0	{ flex-grow: 0; }
	.xl\:flex-grow		{ flex-grow: 1; }
	.xl\:flex-shrink-0	{ flex-shrink: 0; }
	.xl\:flex-shrink	{ flex-shrink: 1; }
	.xl\:order-1		{ order: 1;}
	.xl\:order-2		{ order: 2; }
	.xl\:order-3		{ order: 3; }
	.xl\:order-4		{ order: 4; }
	.xl\:order-5		{ order: 5; }
	.xl\:order-6		{ order: 6; }
	.xl\:order-7		{ order: 7; }
	.xl\:order-8		{ order: 8; }
	.xl\:order-9		{ order: 9; }
	.xl\:order-10		{ order: 10; }
	.xl\:order-11		{ order: 11; }
	.xl\:order-12		{ order: 12; }
	.xl\:order-first	{ order: -9999; }
	.xl\:order-last		{ order: 9999; }
	.xl\:order-none		{ order: 0; }
	.xl\:float-right	{ float: right; }
	.xl\:float-left		{ float: left; }
	.xl\:float-none		{ float: none; }
	.xl\:clearfix:after { content: ""; display: table; clear: both; }
	.xl\:align-baseline	{ vertical-align: baseline; }
	.xl\:align-top		{ vertical-align: top; }
	.xl\:align-middle	{ vertical-align: middle; }
	.xl\:align-bottom	{ vertical-align: bottom; }
}