.box-shadow                 { box-shadow: $box-shadow; }
.box-shadow-none            { box-shadow: none; }
.hover\:shadow:hover        { box-shadow: $box-shadow; }
.hover\:shadow-none:hover   { box-shadow: none; }

.text-shadow                    { text-shadow: $text-shadow; }
.text-shadow-none               { text-shadow: none; }
.hover\:text-shadow:hover       { text-shadow: $text-shadow; }
.hover\:text-shadow-none:hover  { text-shadow: none; }