.h-0		{ height: 0; }
.h-1		{ height: 0.25rem; }
.h-2 		{ height: 0.5rem; }
.h-3 		{ height: 0.75rem; }
.h-4		{ height: 1rem; }
.h-5		{ height: 1.25rem; }
.h-6		{ height: 1.5rem; }
.h-8		{ height: 2rem;	}
.h-10		{ height: 2.5rem; }
.h-12		{ height: 3rem;	}
.h-16		{ height: 4rem; }
.h-20		{ height: 5rem; }
.h-24		{ height: 6rem; }
.h-32		{ height: 8rem; }
.h-40		{ height: 10rem; }
.h-48		{ height: 12rem; }
.h-56		{ height: 14rem; }
.h-64		{ height: 16rem; }
.h-auto 	{ height: auto; }
.h-px		{ height: 1px; }
.h-full 	{ height: 100%; }
.h-screen	{ height: 100vh; }

.max-h-full		{ max-height: 100%; }
.max-h-screen	{ max-height: 100vh; }
.min-h-0		{ min-height: 0; }
.min-h-full		{ min-height: 100%; }
.min-h-screen	{ min-height: 100vh; }

.w-0		{ width: 0; }
.w-1		{ width: 0.25rem; }
.w-2		{ width: 0.5rem; }
.w-3		{ width: 0.75rem; }
.w-4		{ width: 1rem; }
.w-5		{ width: 1.25rem; }
.w-6		{ width: 1.5rem; }
.w-8		{ width: 2rem; }
.w-10		{ width: 2.5rem; }
.w-12		{ width: 3rem; }
.w-16		{ width: 4rem; }
.w-20		{ width: 5rem; }
.w-24		{ width: 6rem; }
.w-32		{ width: 8rem; }
.w-40		{ width: 10rem; }
.w-48		{ width: 12rem; }
.w-56		{ width: 14rem; }
.w-64		{ width: 16rem; }
.w-auto		{ width: auto; }
.w-px		{ width: 1px; }
.w-1\/2		{ width: 50%; }
.w-1\/3		{ width: 33.33333%; }
.w-2\/3		{ width: 66.66667%; }
.w-1\/4		{ width: 25%; }
.w-2\/4		{ width: 50%; }
.w-3\/4		{ width: 75%; }
.w-1\/5		{ width: 20%; }
.w-2\/5		{ width: 40%; }
.w-3\/5		{ width: 60%; }
.w-4\/5		{ width: 80%; }
.w-1\/6		{ width: 16.66667%; }
.w-2\/6		{ width: 33.33333%; }
.w-3\/6		{ width: 50%; }
.w-4\/6		{ width: 66.66667%; }
.w-5\/6		{ width: 83.33333%; }
.w-1\/12	{ width: 8.33333%; }
.w-2\/12	{ width: 16.66667%; }
.w-3\/12	{ width: 25%; }
.w-4\/12	{ width: 33.33333%; }
.w-5\/12	{ width: 41.66667%; }
.w-6\/12	{ width: 50%; }
.w-7\/12	{ width: 58.33333%; }
.w-8\/12	{ width: 66.66667%; }
.w-9\/12	{ width: 75%; }
.w-10\/12	{ width: 83.33333%; }
.w-11\/12	{ width: 91.66667%; }
.w-full		{ width: 100%; }
.w-screen	{ width: 100vw; }

.max-w-xs	{ max-width: 20rem; }
.max-w-sm	{ max-width: 24rem; }
.max-w-md	{ max-width: 28rem; }
.max-w-lg	{ max-width: 32rem; }
.max-w-xl	{ max-width: 36rem; }
.max-w-2xl	{ max-width: 42rem; }
.max-w-3xl	{ max-width: 48rem; }
.max-w-4xl	{ max-width: 56rem; }
.max-w-5xl	{ max-width: 64rem; }
.max-w-6xl	{ max-width: 72rem; }
.max-w-full	{ max-width: 100% }
.min-w-0	{ min-width: 0; }
.min-w-full	{ min-width: 100%; }

@media (min-width: 640px) {
	.sm\:h-0 { height: 0; }
	.sm\:h-1 { height: 0.25rem; }
	.sm\:h-2 { height: 0.5rem; }
	.sm\:h-3 { height: 0.75rem; }
	.sm\:h-4 { height: 1rem; }
	.sm\:h-5 { height: 1.25rem; }
	.sm\:h-6 { height: 1.5rem; }
	.sm\:h-8 { height: 2rem; }
	.sm\:h-10 { height: 2.5rem; }
	.sm\:h-12 { height: 3rem; }
	.sm\:h-16 { height: 4rem; }
	.sm\:h-20 { height: 5rem; }
	.sm\:h-24 { height: 6rem; }
	.sm\:h-32 { height: 8rem; }
	.sm\:h-40 { height: 10rem; }
	.sm\:h-48 { height: 12rem; }
	.sm\:h-56 { height: 14rem; }
	.sm\:h-64 { height: 16rem; }
	.sm\:h-auto { height: auto; }
	.sm\:h-px { height: 1px; }
	.sm\:h-full { height: 100%; }
	.sm\:h-screen { height: 100vh; }
	.sm\:max-h-full { max-height: 100%; }
	.sm\:max-h-screen { max-height: 100vh; }
	.sm\:min-h-0 { min-height: 0; }
	.sm\:min-h-full { min-height: 100%; }
	.sm\:min-h-screen { min-height: 100vh; }
	.sm\:max-w-xs { max-width: 20rem; }
	.sm\:max-w-sm { max-width: 24rem; }
	.sm\:max-w-md { max-width: 28rem; }
	.sm\:max-w-lg { max-width: 32rem; }
	.sm\:max-w-xl { max-width: 36rem; }
	.sm\:max-w-2xl { max-width: 42rem; }
	.sm\:max-w-3xl { max-width: 48rem; }
	.sm\:max-w-4xl { max-width: 56rem; }
	.sm\:max-w-5xl { max-width: 64rem; }
	.sm\:max-w-6xl { max-width: 72rem; }
	.sm\:max-w-full { max-width: 100%; }
	.sm\:min-w-0 { min-width: 0; }
	.sm\:min-w-full { min-width: 100%; }
	.sm\:w-0 { width: 0; }
	.sm\:w-1 { width: 0.25rem; }
	.sm\:w-2 { width: 0.5rem; }
	.sm\:w-3 { width: 0.75rem; }
	.sm\:w-4 { width: 1rem; }
	.sm\:w-5 { width: 1.25rem; }
	.sm\:w-6 { width: 1.5rem; }
	.sm\:w-8 { width: 2rem; }
	.sm\:w-10 { width: 2.5rem; }
	.sm\:w-12 { width: 3rem; }
	.sm\:w-16 { width: 4rem; }
	.sm\:w-20 { width: 5rem; }
	.sm\:w-24 { width: 6rem; }
	.sm\:w-32 { width: 8rem; }
	.sm\:w-40 { width: 10rem; }
	.sm\:w-48 { width: 12rem; }
	.sm\:w-56 { width: 14rem; }
	.sm\:w-64 { width: 16rem; }
	.sm\:w-auto { width: auto; }
	.sm\:w-px { width: 1px; }
	.sm\:w-1\/2 { width: 50%; }
	.sm\:w-1\/3 { width: 33.33333%; }
	.sm\:w-2\/3 { width: 66.66667%; }
	.sm\:w-1\/4 { width: 25%; }
	.sm\:w-2\/4 { width: 50%; }
	.sm\:w-3\/4 { width: 75%; }
	.sm\:w-1\/5 { width: 20%; }
	.sm\:w-2\/5 { width: 40%; }
	.sm\:w-3\/5 { width: 60%; }
	.sm\:w-4\/5 { width: 80%; }
	.sm\:w-1\/6 { width: 16.66667%; }
	.sm\:w-2\/6 { width: 33.33333%; }
	.sm\:w-3\/6 { width: 50%; }
	.sm\:w-4\/6 { width: 66.66667%; }
	.sm\:w-5\/6 { width: 83.33333%; }
	.sm\:w-1\/12 { width: 8.33333%; }
	.sm\:w-2\/12 { width: 16.66667%; }
	.sm\:w-3\/12 { width: 25%; }
	.sm\:w-4\/12 { width: 33.33333%; }
	.sm\:w-5\/12 { width: 41.66667%; }
	.sm\:w-6\/12 { width: 50%; }
	.sm\:w-7\/12 { width: 58.33333%; }
	.sm\:w-8\/12 { width: 66.66667%; }
	.sm\:w-9\/12 { width: 75%; }
	.sm\:w-10\/12 { width: 83.33333%; }
	.sm\:w-11\/12 { width: 91.66667%; }
	.sm\:w-full { width: 100%; }
	.sm\:w-screen { width: 100vw; }
	.sm\:resize-none { resize: none; }
	.sm\:resize-y { resize: vertical; }
	.sm\:resize-x { resize: horizontal; }
	.sm\:resize { resize: both; }
}
@media (min-width: 768px) {
	.md\:h-0 { height: 0; }
	.md\:h-1 { height: 0.25rem; }
	.md\:h-2 { height: 0.5rem; }
	.md\:h-3 { height: 0.75rem; }
	.md\:h-4 { height: 1rem; }
	.md\:h-5 { height: 1.25rem; }
	.md\:h-6 { height: 1.5rem; }
	.md\:h-8 { height: 2rem; }
	.md\:h-10 { height: 2.5rem; }
	.md\:h-12 { height: 3rem; }
	.md\:h-16 { height: 4rem; }
	.md\:h-20 { height: 5rem; }
	.md\:h-24 { height: 6rem; }
	.md\:h-32 { height: 8rem; }
	.md\:h-40 { height: 10rem; }
	.md\:h-48 { height: 12rem; }
	.md\:h-56 { height: 14rem; }
	.md\:h-64 { height: 16rem; }
	.md\:h-auto { height: auto; }
	.md\:h-px { height: 1px; }
	.md\:h-full { height: 100%; }
	.md\:h-screen { height: 100vh; }
	.md\:max-h-full { max-height: 100%; }
	.md\:max-h-screen { max-height: 100vh; }
	.md\:min-h-0 { min-height: 0; }
	.md\:min-h-full { min-height: 100%; }
	.md\:min-h-screen { min-height: 100vh; }
	.md\:max-w-xs { max-width: 20rem; }
	.md\:max-w-sm { max-width: 24rem; }
	.md\:max-w-md { max-width: 28rem; }
	.md\:max-w-lg { max-width: 32rem; }
	.md\:max-w-xl { max-width: 36rem; }
	.md\:max-w-2xl { max-width: 42rem; }
	.md\:max-w-3xl { max-width: 48rem; }
	.md\:max-w-4xl { max-width: 56rem; }
	.md\:max-w-5xl { max-width: 64rem; }
	.md\:max-w-6xl { max-width: 72rem; }
	.md\:max-w-full { max-width: 100%; }
	.md\:min-w-0 { min-width: 0; }
	.md\:min-w-full { min-width: 100%; }
	.md\:w-0 { width: 0; }
	.md\:w-1 { width: 0.25rem; }
	.md\:w-2 { width: 0.5rem; }
	.md\:w-3 { width: 0.75rem; }
	.md\:w-4 { width: 1rem; }
	.md\:w-5 { width: 1.25rem; }
	.md\:w-6 { width: 1.5rem; }
	.md\:w-8 { width: 2rem; }
	.md\:w-10 { width: 2.5rem; }
	.md\:w-12 { width: 3rem; }
	.md\:w-16 { width: 4rem; }
	.md\:w-20 { width: 5rem; }
	.md\:w-24 { width: 6rem; }
	.md\:w-32 { width: 8rem; }
	.md\:w-40 { width: 10rem; }
	.md\:w-48 { width: 12rem; }
	.md\:w-56 { width: 14rem; }
	.md\:w-64 { width: 16rem; }
	.md\:w-auto { width: auto; }
	.md\:w-px { width: 1px; }
	.md\:w-1\/2 { width: 50%; }
	.md\:w-1\/3 { width: 33.33333%; }
	.md\:w-2\/3 { width: 66.66667%; }
	.md\:w-1\/4 { width: 25%; }
	.md\:w-2\/4 { width: 50%; }
	.md\:w-3\/4 { width: 75%; }
	.md\:w-1\/5 { width: 20%; }
	.md\:w-2\/5 { width: 40%; }
	.md\:w-3\/5 { width: 60%; }
	.md\:w-4\/5 { width: 80%; }
	.md\:w-1\/6 { width: 16.66667%; }
	.md\:w-2\/6 { width: 33.33333%; }
	.md\:w-3\/6 { width: 50%; }
	.md\:w-4\/6 { width: 66.66667%; }
	.md\:w-5\/6 { width: 83.33333%; }
	.md\:w-1\/12 { width: 8.33333%; }
	.md\:w-2\/12 { width: 16.66667%; }
	.md\:w-3\/12 { width: 25%; }
	.md\:w-4\/12 { width: 33.33333%; }
	.md\:w-5\/12 { width: 41.66667%; }
	.md\:w-6\/12 { width: 50%; }
	.md\:w-7\/12 { width: 58.33333%; }
	.md\:w-8\/12 { width: 66.66667%; }
	.md\:w-9\/12 { width: 75%; }
	.md\:w-10\/12 { width: 83.33333%; }
	.md\:w-11\/12 { width: 91.66667%; }
	.md\:w-full { width: 100%; }
	.md\:w-screen { width: 100vw; }
	.md\:resize-none { resize: none; }
	.md\:resize-y { resize: vertical; }
	.md\:resize-x { resize: horizontal; }
	.md\:resize { resize: both; }
}
@media (min-width: 1024px) {
	.lg\:h-0 { height: 0; }
	.lg\:h-1 { height: 0.25rem; }
	.lg\:h-2 { height: 0.5rem; }
	.lg\:h-3 { height: 0.75rem; }
	.lg\:h-4 { height: 1rem; }
	.lg\:h-5 { height: 1.25rem; }
	.lg\:h-6 { height: 1.5rem; }
	.lg\:h-8 { height: 2rem; }
	.lg\:h-10 { height: 2.5rem; }
	.lg\:h-12 { height: 3rem; }
	.lg\:h-16 { height: 4rem; }
	.lg\:h-20 { height: 5rem; }
	.lg\:h-24 { height: 6rem; }
	.lg\:h-32 { height: 8rem; }
	.lg\:h-40 { height: 10rem; }
	.lg\:h-48 { height: 12rem; }
	.lg\:h-56 { height: 14rem; }
	.lg\:h-64 { height: 16rem; }
	.lg\:h-auto { height: auto; }
	.lg\:h-px { height: 1px; }
	.lg\:h-full { height: 100%; }
	.lg\:h-screen { height: 100vh; }
	.lg\:max-h-full { max-height: 100%; }
	.lg\:max-h-screen { max-height: 100vh; }
	.lg\:min-h-0 { min-height: 0; }
	.lg\:min-h-full { min-height: 100%; }
	.lg\:min-h-screen { min-height: 100vh; }
	.lg\:max-w-xs { max-width: 20rem; }
	.lg\:max-w-sm { max-width: 24rem; }
	.lg\:max-w-md { max-width: 28rem; }
	.lg\:max-w-lg { max-width: 32rem; }
	.lg\:max-w-xl { max-width: 36rem; }
	.lg\:max-w-2xl { max-width: 42rem; }
	.lg\:max-w-3xl { max-width: 48rem; }
	.lg\:max-w-4xl { max-width: 56rem; }
	.lg\:max-w-5xl { max-width: 64rem; }
	.lg\:max-w-6xl { max-width: 72rem; }
	.lg\:max-w-full { max-width: 100%; }
	.lg\:min-w-0 { min-width: 0; }
	.lg\:min-w-full { min-width: 100%; }
	.lg\:w-0 { width: 0; }
	.lg\:w-1 { width: 0.25rem; }
	.lg\:w-2 { width: 0.5rem; }
	.lg\:w-3 { width: 0.75rem; }
	.lg\:w-4 { width: 1rem; }
	.lg\:w-5 { width: 1.25rem; }
	.lg\:w-6 { width: 1.5rem; }
	.lg\:w-8 { width: 2rem; }
	.lg\:w-10 { width: 2.5rem; }
	.lg\:w-12 { width: 3rem; }
	.lg\:w-16 { width: 4rem; }
	.lg\:w-20 { width: 5rem; }
	.lg\:w-24 { width: 6rem; }
	.lg\:w-32 { width: 8rem; }
	.lg\:w-40 { width: 10rem; }
	.lg\:w-48 { width: 12rem; }
	.lg\:w-56 { width: 14rem; }
	.lg\:w-64 { width: 16rem; }
	.lg\:w-auto { width: auto; }
	.lg\:w-px { width: 1px; }
	.lg\:w-1\/2 { width: 50%; }
	.lg\:w-1\/3 { width: 33.33333%; }
	.lg\:w-2\/3 { width: 66.66667%; }
	.lg\:w-1\/4 { width: 25%; }
	.lg\:w-2\/4 { width: 50%; }
	.lg\:w-3\/4 { width: 75%; }
	.lg\:w-1\/5 { width: 20%; }
	.lg\:w-2\/5 { width: 40%; }
	.lg\:w-3\/5 { width: 60%; }
	.lg\:w-4\/5 { width: 80%; }
	.lg\:w-1\/6 { width: 16.66667%; }
	.lg\:w-2\/6 { width: 33.33333%; }
	.lg\:w-3\/6 { width: 50%; }
	.lg\:w-4\/6 { width: 66.66667%; }
	.lg\:w-5\/6 { width: 83.33333%; }
	.lg\:w-1\/12 { width: 8.33333%; }
	.lg\:w-2\/12 { width: 16.66667%; }
	.lg\:w-3\/12 { width: 25%; }
	.lg\:w-4\/12 { width: 33.33333%; }
	.lg\:w-5\/12 { width: 41.66667%; }
	.lg\:w-6\/12 { width: 50%; }
	.lg\:w-7\/12 { width: 58.33333%; }
	.lg\:w-8\/12 { width: 66.66667%; }
	.lg\:w-9\/12 { width: 75%; }
	.lg\:w-10\/12 { width: 83.33333%; }
	.lg\:w-11\/12 { width: 91.66667%; }
	.lg\:w-full { width: 100%; }
	.lg\:w-screen { width: 100vw; }
	.lg\:resize-none { resize: none; }
	.lg\:resize-y { resize: vertical; }
	.lg\:resize-x { resize: horizontal; }
	.lg\:resize { resize: both; }
}
@media (min-width: 1280px) {
	.xl\:h-0 { height: 0; }
	.xl\:h-1 { height: 0.25rem; }
	.xl\:h-2 { height: 0.5rem; }
	.xl\:h-3 { height: 0.75rem; }
	.xl\:h-4 { height: 1rem; }
	.xl\:h-5 { height: 1.25rem; }
	.xl\:h-6 { height: 1.5rem; }
	.xl\:h-8 { height: 2rem; }
	.xl\:h-10 { height: 2.5rem; }
	.xl\:h-12 { height: 3rem; }
	.xl\:h-16 { height: 4rem; }
	.xl\:h-20 { height: 5rem; }
	.xl\:h-24 { height: 6rem; }
	.xl\:h-32 { height: 8rem; }
	.xl\:h-40 { height: 10rem; }
	.xl\:h-48 { height: 12rem; }
	.xl\:h-56 { height: 14rem; }
	.xl\:h-64 { height: 16rem; }
	.xl\:h-auto { height: auto; }
	.xl\:h-px { height: 1px; }
	.xl\:h-full { height: 100%; }
	.xl\:h-screen { height: 100vh; }
	.xl\:max-h-full { max-height: 100%; }
	.xl\:max-h-screen { max-height: 100vh; }
	.xl\:min-h-0 { min-height: 0; }
	.xl\:min-h-full { min-height: 100%; }
	.xl\:min-h-screen { min-height: 100vh; }
	.xl\:max-w-xs { max-width: 20rem; }
	.xl\:max-w-sm { max-width: 24rem; }
	.xl\:max-w-md { max-width: 28rem; }
	.xl\:max-w-lg { max-width: 32rem; }
	.xl\:max-w-xl { max-width: 36rem; }
	.xl\:max-w-2xl { max-width: 42rem; }
	.xl\:max-w-3xl { max-width: 48rem; }
	.xl\:max-w-4xl { max-width: 56rem; }
	.xl\:max-w-5xl { max-width: 64rem; }
	.xl\:max-w-6xl { max-width: 72rem; }
	.xl\:max-w-full { max-width: 100%; }
	.xl\:min-w-0 { min-width: 0; }
	.xl\:min-w-full { min-width: 100%; }
	.xl\:w-0 { width: 0; }
	.xl\:w-1 { width: 0.25rem; }
	.xl\:w-2 { width: 0.5rem; }
	.xl\:w-3 { width: 0.75rem; }
	.xl\:w-4 { width: 1rem; }
	.xl\:w-5 { width: 1.25rem; }
	.xl\:w-6 { width: 1.5rem; }
	.xl\:w-8 { width: 2rem; }
	.xl\:w-10 { width: 2.5rem; }
	.xl\:w-12 { width: 3rem; }
	.xl\:w-16 { width: 4rem; }
	.xl\:w-20 { width: 5rem; }
	.xl\:w-24 { width: 6rem; }
	.xl\:w-32 { width: 8rem; }
	.xl\:w-40 { width: 10rem; }
	.xl\:w-48 { width: 12rem; }
	.xl\:w-56 { width: 14rem; }
	.xl\:w-64 { width: 16rem; }
	.xl\:w-auto { width: auto; }
	.xl\:w-px { width: 1px; }
	.xl\:w-1\/2 { width: 50%; }
	.xl\:w-1\/3 { width: 33.33333%; }
	.xl\:w-2\/3 { width: 66.66667%; }
	.xl\:w-1\/4 { width: 25%; }
	.xl\:w-2\/4 { width: 50%; }
	.xl\:w-3\/4 { width: 75%; }
	.xl\:w-1\/5 { width: 20%; }
	.xl\:w-2\/5 { width: 40%; }
	.xl\:w-3\/5 { width: 60%; }
	.xl\:w-4\/5 { width: 80%; }
	.xl\:w-1\/6 { width: 16.66667%; }
	.xl\:w-2\/6 { width: 33.33333%; }
	.xl\:w-3\/6 { width: 50%; }
	.xl\:w-4\/6 { width: 66.66667%; }
	.xl\:w-5\/6 { width: 83.33333%; }
	.xl\:w-1\/12 { width: 8.33333%; }
	.xl\:w-2\/12 { width: 16.66667%; }
	.xl\:w-3\/12 { width: 25%; }
	.xl\:w-4\/12 { width: 33.33333%; }
	.xl\:w-5\/12 { width: 41.66667%; }
	.xl\:w-6\/12 { width: 50%; }
	.xl\:w-7\/12 { width: 58.33333%; }
	.xl\:w-8\/12 { width: 66.66667%; }
	.xl\:w-9\/12 { width: 75%; }
	.xl\:w-10\/12 { width: 83.33333%; }
	.xl\:w-11\/12 { width: 91.66667%; }
	.xl\:w-full { width: 100%; }
	.xl\:w-screen { width: 100vw; }
	.xl\:resize-none { resize: none; }
	.xl\:resize-y { resize: vertical; }
	.xl\:resize-x { resize: horizontal; }
	.xl\:resize { resize: both; }
}