.table-auto		{ table-layout: auto; }
.table-fixed	{ table-layout: fixed; }

@media (min-width: 640px)	{ .sm\:table-auto { table-layout: auto; } .sm\:table-fixed { table-layout: fixed; } }
@media (min-width: 768px)	{ .md\:table-auto { table-layout: auto; } .md\:table-fixed { table-layout: fixed; } }
@media (min-width: 1024px)	{ .lg\:table-auto { table-layout: auto; } .lg\:table-fixed { table-layout: fixed; } }
@media (min-width: 1280px)	{ .xl\:table-auto { table-layout: auto; } .xl\:table-fixed { table-layout: fixed; } }