.leading-0			{ line-height: 0; }
.leading-none		{ line-height: 1; }
.leading-tight		{ line-height: 1.25; }
.leading-snug		{ line-height: 1.375; }
.leading-normal		{ line-height: 1.5; }
.leading-relaxed	{ line-height: 1.625; }
.leading-loose		{ line-height: 2; }

.text-left			{ text-align: left; }
.text-center		{ text-align: center; }
.text-right			{ text-align: right; }
.text-justify		{ text-align: justify; }

.text-transparent	{ color: transparent; }
.text-brand-1		{ color: $brand-1; }
.text-brand-2		{ color: $brand-2; }
.text-brand-3		{ color: $brand-3; }
.text-brand-4		{ color: $brand-4; }
.text-brand-5		{ color: $brand-5; }
.text-black			{ color: $black; }
.text-white			{ color: $white; }
.text-gray-100		{ color: $gray-100; }
.text-gray-200		{ color: $gray-200; }
.text-gray-300		{ color: $gray-300; }
.text-gray-400		{ color: $gray-400; }
.text-gray-500		{ color: $gray-500; }
.text-gray-600		{ color: $gray-600; }
.text-gray-700		{ color: $gray-700; }
.text-gray-800		{ color: $gray-800; }
.text-gray-900		{ color: $gray-900; }

.hover\:text-transparent:hover	{ color: transparent; }
.hover\:text-brand-1:hover		{ color: $brand-1; }
.hover\:text-brand-2:hover		{ color: $brand-2; }
.hover\:text-brand-3:hover		{ color: $brand-3; }
.hover\:text-brand-4:hover		{ color: $brand-4; }
.hover\:text-brand-5:hover		{ color: $brand-5; }
.hover\:text-black:hover		{ color: $black; }
.hover\:text-white:hover		{ color: $white; }
.hover\:text-gray-100:hover		{ color: $gray-100; }
.hover\:text-gray-200:hover		{ color: $gray-200; }
.hover\:text-gray-300:hover		{ color: $gray-300; }
.hover\:text-gray-400:hover		{ color: $gray-400; }
.hover\:text-gray-500:hover		{ color: $gray-500; }
.hover\:text-gray-600:hover		{ color: $gray-600; }
.hover\:text-gray-700:hover		{ color: $gray-700; }
.hover\:text-gray-800:hover		{ color: $gray-800; }
.hover\:text-gray-900:hover		{ color: $gray-900; }

.uppercase		{ text-transform: uppercase; }
.lowercase		{ text-transform: lowercase; }
.capitalize		{ text-transform: capitalize; }
.normal-case	{ text-transform: none; }
.underline		{ text-decoration: underline; }
.line-through	{ text-decoration: line-through; }
.no-underline	{ text-decoration: none; }

.hover\:underline:hover		{ text-decoration: underline; }
.hover\:line-through:hover	{ text-decoration: line-through; }
.hover\:no-underline:hover	{ text-decoration: none; }

.tracking-tighter	{ letter-spacing: -0.5px; }
.tracking-tight		{ letter-spacing: 0; }
.tracking-normal	{ letter-spacing: 0.5px; }  
.tracking-wide		{ letter-spacing: 1px; }
.tracking-wider		{ letter-spacing: 1.5px; }
.tracking-widest	{ letter-spacing: 2px; }

.break-normal	{ overflow-wrap: normal; word-break: normal; }
.break-words	{ overflow-wrap: break-word; }
.break-all		{ word-break: break-all; }
.truncate		{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.align-text-top			{ vertical-align: text-top; }
.align-text-bottom		{ vertical-align: text-bottom; }
.whitespace-normal		{ white-space: normal; }
.whitespace-no-wrap		{ white-space: nowrap; }
.whitespace-pre			{ white-space: pre; }
.whitespace-pre-line	{ white-space: pre-line; }
.whitespace-pre-wrap	{ white-space: pre-wrap; }

@media (min-width: 640px) {
	.sm\:leading-none		{ line-height: 1; }
	.sm\:leading-tight		{ line-height: 1.25; }
	.sm\:leading-snug		{ line-height: 1.375; }
	.sm\:leading-normal		{ line-height: 1.5; }
	.sm\:leading-relaxed	{ line-height: 1.625; }
	.sm\:leading-loose		{ line-height: 2; }
	.sm\:text-left			{ text-align: left; }
	.sm\:text-center		{ text-align: center; }
	.sm\:text-right			{ text-align: right; }
	.sm\:text-justify		{ text-align: justify; }
	.sm\:text-transparent	{ color: transparent; }
	.sm\:text-brand-1		{ color: $brand-1; }
	.sm\:text-brand-2		{ color: $brand-2; }
	.sm\:text-brand-3		{ color: $brand-3; }
	.sm\:text-brand-4		{ color: $brand-4; }
	.sm\:text-brand-5		{ color: $brand-5; }
	.sm\:text-black			{ color: $black; }
	.sm\:text-white			{ color: $white; }
	.sm\:text-gray-100		{ color: $gray-100; }
	.sm\:text-gray-200		{ color: $gray-200; }
	.sm\:text-gray-300		{ color: $gray-300; }
	.sm\:text-gray-400		{ color: $gray-400; }
	.sm\:text-gray-500		{ color: $gray-500; }
	.sm\:text-gray-600		{ color: $gray-600; }
	.sm\:text-gray-700		{ color: $gray-700; }
	.sm\:text-gray-800		{ color: $gray-800; }
	.sm\:text-gray-900		{ color: $gray-900; }
	.sm\:hover\:text-transparent:hover	{ color: transparent; }
	.sm\:hover\:text-brand-1:hover		{ color: $brand-1; }
	.sm\:hover\:text-brand-2:hover		{ color: $brand-2; }
	.sm\:hover\:text-brand-3:hover		{ color: $brand-3; }
	.sm\:hover\:text-brand-4:hover		{ color: $brand-4; }
	.sm\:hover\:text-brand-5:hover		{ color: $brand-5; }
	.sm\:hover\:text-black:hover		{ color: $black; }
	.sm\:hover\:text-white:hover		{ color: $white; }
	.sm\:hover\:text-gray-100:hover		{ color: $gray-100; }
	.sm\:hover\:text-gray-200:hover		{ color: $gray-200; }
	.sm\:hover\:text-gray-300:hover		{ color: $gray-300; }
	.sm\:hover\:text-gray-400:hover		{ color: $gray-400; }
	.sm\:hover\:text-gray-500:hover		{ color: $gray-500; }
	.sm\:hover\:text-gray-600:hover		{ color: $gray-600; }
	.sm\:hover\:text-gray-700:hover		{ color: $gray-700; }
	.sm\:hover\:text-gray-800:hover		{ color: $gray-800; }
	.sm\:hover\:text-gray-900:hover		{ color: $gray-900; }
	.sm\:uppercase		{ text-transform: uppercase; }
	.sm\:lowercase		{ text-transform: lowercase; }
	.sm\:capitalize		{ text-transform: capitalize; }
	.sm\:normal-case	{ text-transform: none; }
	.sm\:underline		{ text-decoration: underline; }
	.sm\:line-through	{ text-decoration: line-through; }
	.sm\:no-underline	{ text-decoration: none; }
	.sm\:hover\:underline:hover		{ text-decoration: underline; }
	.sm\:hover\:line-through:hover	{ text-decoration: line-through; }
	.sm\:hover\:no-underline:hover	{ text-decoration: none; }
	.sm\:break-normal	{ overflow-wrap: normal; word-break: normal; }
	.sm\:break-words	{ overflow-wrap: break-word; }
	.sm\:break-all		{ word-break: break-all; }
	.sm\:truncate		{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
	.sm\:align-text-top		{ vertical-align: text-top; }
	.sm\:align-text-bottom	{ vertical-align: text-bottom; }
}
@media (min-width: 768px) {
	.md\:leading-none		{ line-height: 1; }
	.md\:leading-tight		{ line-height: 1.25; }
	.md\:leading-snug		{ line-height: 1.375; }
	.md\:leading-normal		{ line-height: 1.5; }
	.md\:leading-relaxed	{ line-height: 1.625; }
	.md\:leading-loose		{ line-height: 2; }
	.md\:text-left			{ text-align: left; }
	.md\:text-center		{ text-align: center; }
	.md\:text-right			{ text-align: right; }
	.md\:text-justify		{ text-align: justify; }
	.md\:text-transparent	{ color: transparent; }
	.md\:text-brand-1		{ color: $brand-1; }
	.md\:text-brand-2		{ color: $brand-2; }
	.md\:text-brand-3		{ color: $brand-3; }
	.md\:text-brand-4		{ color: $brand-4; }
	.md\:text-brand-5		{ color: $brand-5; }
	.md\:text-black			{ color: $black; }
	.md\:text-white			{ color: $white; }
	.md\:text-gray-100		{ color: $gray-100; }
	.md\:text-gray-200		{ color: $gray-200; }
	.md\:text-gray-300		{ color: $gray-300; }
	.md\:text-gray-400		{ color: $gray-400; }
	.md\:text-gray-500		{ color: $gray-500; }
	.md\:text-gray-600		{ color: $gray-600; }
	.md\:text-gray-700		{ color: $gray-700; }
	.md\:text-gray-800		{ color: $gray-800; }
	.md\:text-gray-900		{ color: $gray-900; }
	.md\:hover\:text-transparent:hover	{ color: transparent; }
	.md\:hover\:text-brand-1:hover		{ color: $brand-1; }
	.md\:hover\:text-brand-2:hover		{ color: $brand-2; }
	.md\:hover\:text-brand-3:hover		{ color: $brand-3; }
	.md\:hover\:text-brand-4:hover		{ color: $brand-4; }
	.md\:hover\:text-brand-5:hover		{ color: $brand-5; }
	.md\:hover\:text-black:hover		{ color: $black; }
	.md\:hover\:text-white:hover		{ color: $white; }
	.md\:hover\:text-gray-100:hover		{ color: $gray-100; }
	.md\:hover\:text-gray-200:hover		{ color: $gray-200; }
	.md\:hover\:text-gray-300:hover		{ color: $gray-300; }
	.md\:hover\:text-gray-400:hover		{ color: $gray-400; }
	.md\:hover\:text-gray-500:hover		{ color: $gray-500; }
	.md\:hover\:text-gray-600:hover		{ color: $gray-600; }
	.md\:hover\:text-gray-700:hover		{ color: $gray-700; }
	.md\:hover\:text-gray-800:hover		{ color: $gray-800; }
	.md\:hover\:text-gray-900:hover		{ color: $gray-900; }
	.md\:uppercase		{ text-transform: uppercase; }
	.md\:lowercase		{ text-transform: lowercase; }
	.md\:capitalize		{ text-transform: capitalize; }
	.md\:normal-case	{ text-transform: none; }
	.md\:underline		{ text-decoration: underline; }
	.md\:line-through	{ text-decoration: line-through; }
	.md\:no-underline	{ text-decoration: none; }
	.md\:hover\:underline:hover		{ text-decoration: underline; }
	.md\:hover\:line-through:hover	{ text-decoration: line-through; }
	.md\:hover\:no-underline:hover	{ text-decoration: none; }
	.md\:break-normal	{ overflow-wrap: normal; word-break: normal; }
	.md\:break-words	{ overflow-wrap: break-word; }
	.md\:break-all		{ word-break: break-all; }
	.md\:truncate		{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
	.md\:align-text-top		{ vertical-align: text-top; }
	.md\:align-text-bottom	{ vertical-align: text-bottom; }
}
@media (min-width: 1024px) {
	.lg\:leading-none		{ line-height: 1; }
	.lg\:leading-tight		{ line-height: 1.25; }
	.lg\:leading-snug		{ line-height: 1.375; }
	.lg\:leading-normal		{ line-height: 1.5; }
	.lg\:leading-relaxed	{ line-height: 1.625; }
	.lg\:leading-loose		{ line-height: 2; }
	.lg\:text-left			{ text-align: left; }
	.lg\:text-center		{ text-align: center; }
	.lg\:text-right			{ text-align: right; }
	.lg\:text-justify		{ text-align: justify; }
	.lg\:text-transparent	{ color: transparent; }
	.lg\:text-brand-1		{ color: $brand-1; }
	.lg\:text-brand-2		{ color: $brand-2; }
	.lg\:text-brand-3		{ color: $brand-3; }
	.lg\:text-brand-4		{ color: $brand-4; }
	.lg\:text-brand-5		{ color: $brand-5; }
	.lg\:text-black			{ color: $black; }
	.lg\:text-white			{ color: $white; }
	.lg\:text-gray-100		{ color: $gray-100; }
	.lg\:text-gray-200		{ color: $gray-200; }
	.lg\:text-gray-300		{ color: $gray-300; }
	.lg\:text-gray-400		{ color: $gray-400; }
	.lg\:text-gray-500		{ color: $gray-500; }
	.lg\:text-gray-600		{ color: $gray-600; }
	.lg\:text-gray-700		{ color: $gray-700; }
	.lg\:text-gray-800		{ color: $gray-800; }
	.lg\:text-gray-900		{ color: $gray-900; }
	.lg\:hover\:text-transparent:hover	{ color: transparent; }
	.lg\:hover\:text-brand-1:hover		{ color: $brand-1; }
	.lg\:hover\:text-brand-2:hover		{ color: $brand-2; }
	.lg\:hover\:text-brand-3:hover		{ color: $brand-3; }
	.lg\:hover\:text-brand-4:hover		{ color: $brand-4; }
	.lg\:hover\:text-brand-5:hover		{ color: $brand-5; }
	.lg\:hover\:text-black:hover		{ color: $black; }
	.lg\:hover\:text-white:hover		{ color: $white; }
	.lg\:hover\:text-gray-100:hover		{ color: $gray-100; }
	.lg\:hover\:text-gray-200:hover		{ color: $gray-200; }
	.lg\:hover\:text-gray-300:hover		{ color: $gray-300; }
	.lg\:hover\:text-gray-400:hover		{ color: $gray-400; }
	.lg\:hover\:text-gray-500:hover		{ color: $gray-500; }
	.lg\:hover\:text-gray-600:hover		{ color: $gray-600; }
	.lg\:hover\:text-gray-700:hover		{ color: $gray-700; }
	.lg\:hover\:text-gray-800:hover		{ color: $gray-800; }
	.lg\:hover\:text-gray-900:hover		{ color: $gray-900; }
	.lg\:uppercase		{ text-transform: uppercase; }
	.lg\:lowercase		{ text-transform: lowercase; }
	.lg\:capitalize		{ text-transform: capitalize; }
	.lg\:normal-case	{ text-transform: none; }
	.lg\:underline		{ text-decoration: underline; }
	.lg\:line-through	{ text-decoration: line-through; }
	.lg\:no-underline	{ text-decoration: none; }
	.lg\:hover\:underline:hover		{ text-decoration: underline; }
	.lg\:hover\:line-through:hover	{ text-decoration: line-through; }
	.lg\:hover\:no-underline:hover	{ text-decoration: none; }
	.lg\:break-normal	{ overflow-wrap: normal; word-break: normal; }
	.lg\:break-words	{ overflow-wrap: break-word; }
	.lg\:break-all		{ word-break: break-all; }
	.lg\:truncate		{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
	.lg\:align-text-top		{ vertical-align: text-top; }
	.lg\:align-text-bottom	{ vertical-align: text-bottom; }
}
@media (min-width: 1280px) {
	.xl\:leading-none		{ line-height: 1; }
	.xl\:leading-tight		{ line-height: 1.25; }
	.xl\:leading-snug		{ line-height: 1.375; }
	.xl\:leading-normal		{ line-height: 1.5; }
	.xl\:leading-relaxed	{ line-height: 1.625; }
	.xl\:leading-loose		{ line-height: 2; }
	.xl\:text-left			{ text-align: left; }
	.xl\:text-center		{ text-align: center; }
	.xl\:text-right			{ text-align: right; }
	.xl\:text-justify		{ text-align: justify; }
	.xl\:text-transparent	{ color: transparent; }
	.xl\:text-brand-1		{ color: $brand-1; }
	.xl\:text-brand-2		{ color: $brand-2; }
	.xl\:text-brand-3		{ color: $brand-3; }
	.xl\:text-brand-4		{ color: $brand-4; }
	.xl\:text-brand-5		{ color: $brand-5; }
	.xl\:text-black			{ color: $black; }
	.xl\:text-white			{ color: $white; }
	.xl\:text-gray-100		{ color: $gray-100; }
	.xl\:text-gray-200		{ color: $gray-200; }
	.xl\:text-gray-300		{ color: $gray-300; }
	.xl\:text-gray-400		{ color: $gray-400; }
	.xl\:text-gray-500		{ color: $gray-500; }
	.xl\:text-gray-600		{ color: $gray-600; }
	.xl\:text-gray-700		{ color: $gray-700; }
	.xl\:text-gray-800		{ color: $gray-800; }
	.xl\:text-gray-900		{ color: $gray-900; }
	.xl\:hover\:text-transparent:hover	{ color: transparent; }
	.xl\:hover\:text-brand-1:hover		{ color: $brand-1; }
	.xl\:hover\:text-brand-2:hover		{ color: $brand-2; }
	.xl\:hover\:text-brand-3:hover		{ color: $brand-3; }
	.xl\:hover\:text-brand-4:hover		{ color: $brand-4; }
	.xl\:hover\:text-brand-5:hover		{ color: $brand-5; }
	.xl\:hover\:text-black:hover		{ color: $black; }
	.xl\:hover\:text-white:hover		{ color: $white; }
	.xl\:hover\:text-gray-100:hover		{ color: $gray-100; }
	.xl\:hover\:text-gray-200:hover		{ color: $gray-200; }
	.xl\:hover\:text-gray-300:hover		{ color: $gray-300; }
	.xl\:hover\:text-gray-400:hover		{ color: $gray-400; }
	.xl\:hover\:text-gray-500:hover		{ color: $gray-500; }
	.xl\:hover\:text-gray-600:hover		{ color: $gray-600; }
	.xl\:hover\:text-gray-700:hover		{ color: $gray-700; }
	.xl\:hover\:text-gray-800:hover		{ color: $gray-800; }
	.xl\:hover\:text-gray-900:hover		{ color: $gray-900; }
	.xl\:uppercase		{ text-transform: uppercase; }
	.xl\:lowercase		{ text-transform: lowercase; }
	.xl\:capitalize		{ text-transform: capitalize; }
	.xl\:normal-case	{ text-transform: none; }
	.xl\:underline		{ text-decoration: underline; }
	.xl\:line-through	{ text-decoration: line-through; }
	.xl\:no-underline	{ text-decoration: none; }
	.xl\:hover\:underline:hover		{ text-decoration: underline; }
	.xl\:hover\:line-through:hover	{ text-decoration: line-through; }
	.xl\:hover\:no-underline:hover	{ text-decoration: none; }
	.xl\:break-normal	{ overflow-wrap: normal; word-break: normal; }
	.xl\:break-words	{ overflow-wrap: break-word; }
	.xl\:break-all		{ word-break: break-all; }
	.xl\:truncate		{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
	.xl\:align-text-top		{ vertical-align: text-top; }
	.xl\:align-text-bottom	{ vertical-align: text-bottom; }
}