// Fonts
$font-sans:     "Poppins", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$font-serif:    Cambria, "Times New Roman", Times, serif;
$font-mono:		Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$text-xs:   0.75rem;
$text-sm:   0.875rem;
$text-base: 1rem;
$text-lg:   1.125rem;
$text-xl:   1.25rem;
$text-2xl:  1.375rem;
$text-3xl:  1.5rem;
$text-4xl:  1.75rem;
$text-5xl:  2rem;
$text-6xl:  3rem;

// Colors
$brand-1:	#00334d;
$brand-2:	#92ac71;
$brand-3:   #faf8ea;
$brand-4:   #414141;
$brand-5:   #858585;

$white:     #fff;
$gray-100:  #f4f4f4;
$gray-200:  #e9e9e9;
$gray-300:  #bcbcbc;
$gray-400:  #bbb;
$gray-500:  #aaa;
$gray-600:  #999;
$gray-700:  #666;
$gray-800:  #333;
$gray-900:  #231f20;
$black:     #000;

$bg-overlay:        rgba(0,0,0,0.25);
$bg-overlay-hover:  rgba(0,0,0,0.5);

// Shadows
$text-shadow:   0 1px 3px rgba(0,0,0,0.4);
$box-shadow:    0 0 3px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.06);

// Animations 
$transition-delay:  75ms;